In [1]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
import datetime
from IPython.display import clear_output
import lightgbm as lgb
from bayes_opt import BayesianOptimization


RANDOM_STATE = 42

In [2]:
from generate_features import generate_features
from read_utils import read_data

In [8]:
from settings import CATEGORICAL_FEATURES, COLUMNS_TO_REMOVE

In [3]:
train, test, sample_submission = read_data()

In [4]:
train.head()

,isFraud,TransactionDT,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,card6,...,id_31,id_32,id_33,id_34,id_35,id_36,id_37,id_38,DeviceType,DeviceInfo
TransactionID,,,,,,,,,,,,,,,,,,,,,
2987000,0,86400,68.5,W,13926,NaN,150.0,discover,142.0,credit,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2987001,0,86401,29.0,W,2755,404.0,150.0,mastercard,102.0,credit,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2987002,0,86469,59.0,W,4663,490.0,150.0,visa,166.0,debit,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2987003,0,86499,50.0,W,18132,567.0,150.0,mastercard,117.0,debit,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2987004,0,86506,50.0,H,4497,514.0,150.0,mastercard,102.0,credit,...,samsung browser 6.2,32.0,2220x1080,match_status:2,T,F,T,T,mobile,SAMSUNG SM-G892A Build/NRD90M

In [5]:
%%time
train_test_transformed = generate_features(train, test)

/home/ec2-user/FRAUD/IEEE_FRAUD/feature_engineering.py:194: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lambda x: x if ' ' not in x else ' '.join(x.split()[:-1])
/home/ec2-user/FRAUD/IEEE_FRAUD/feature_engineering.py:198: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lambda x: parse_version(x.split()[-1])[0]
/home/ec2-user/FRAUD/IEEE_FRAUD/feature_engineering.py:202: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lambda x: parse_version(x.split()[-1])[1]
/home/ec2-user/FRAUD/IEEE_FRAUD/feature_engineering.py:206: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lambda x: parse_version(x.split()[-1])[2]

mean
       count      mean       std
addr1
100.0     26  0.000000  0.000000
101.0      1  0.000000       NaN
102.0     13  0.000000  0.000000
104.0      8  0.000000  0.000000
105.0      3  0.000000  0.000000
...      ...       ...       ...
530.0      1  0.000000       NaN
531.0      1  0.000000       NaN
535.0      2  0.000000  0.000000
536.0    282  0.113475  0.317737
540.0      6  0.000000  0.000000

[330 rows x 3 columns]
std
       count      mean       std
addr1
100.0     26  0.000000  0.000000
101.0      1  0.000000       NaN
102.0     13  0.000000  0.000000
104.0      8  0.000000  0.000000
105.0      3  0.000000  0.000000
...      ...       ...       ...
530.0      1  0.000000       NaN
531.0      1  0.000000       NaN
535.0      2  0.000000  0.000000
536.0    282  0.113475  0.317737
540.0      6  0.000000  0.000000

[330 rows x 3 columns]
mean
       count      mean       std
addr2
10.0       8  1.000000  0.000000
13.0       7  0.000000  0.000000
14.0       1  0.000000       NaN
15.0       1  0.000000       NaN
16.0      48  0.000000  0.000000
...      ...       ...       ...
96.0     584  0.114726  0.318964
97.0       2  0.000000  0.000000
98.0      10  0.000000  0.000000
101.0      4  0.000000  0.000000
102.0     11  0.000000  0.000000

[70 rows x 3 columns]
std
       count      mean       std
addr2
10.0       8  1.000000  0.000000
13.0       7  0.000000  0.000000
14.0       1  0.000000       NaN
15.0       1  0.000000       NaN
16.0      48  0.000000  0.000000
...      ...       ...       ...
96.0     584  0.114726  0.318964
97.0       2  0.000000  0.000000
98.0      10  0.000000  0.000000
101.0      4  0.000000  0.000000
102.0     11  0.000000  0.000000

[70 rows x 3 columns]
mean
                    count      mean       std
TransactionDT_hour
0                   32245  0.032005  0.176016
1                   28146  0.031798  0.175466
2                   22991  0.036536  0.187624
3                   17942  0.037064  0.188924
4                   13199  0.049019  0.215916
5                    8711  0.067616  0.251100
6                    5286  0.076050  0.265103
7                    3297  0.107977  0.310398
8                    2281  0.097326  0.296466
9                    1991  0.101959  0.302670
10                   2709  0.066445  0.249105
11                   5116  0.039484  0.194762
12                   9557  0.030449  0.171828
13                  16223  0.021698  0.145699
14                  23380  0.023867  0.152637
15                  28348  0.024975  0.156053
16                  32773  0.028469  0.166310
17                  34768  0.032472  0.177254
18                  35653  0.035257  0.184430
19                  36165  0.034813  0.183308
20                  35606  0.034236  0.181837
21                  35665  0.033618  0.180247
22                  35018  0.031812  0.175502
23                  34144  0.037986  0.191166
std
                    count      mean       std
TransactionDT_hour
0                   32245  0.032005  0.176016
1                   28146  0.031798  0.175466
2                   22991  0.036536  0.187624
3                   17942  0.037064  0.188924
4                   13199  0.049019  0.215916
5                    8711  0.067616  0.251100
6                    5286  0.076050  0.265103
7                    3297  0.107977  0.310398
8                    2281  0.097326  0.296466
9                    1991  0.101959  0.302670
10                   2709  0.066445  0.249105
11                   5116  0.039484  0.194762
12                   9557  0.030449  0.171828
13                  16223  0.021698  0.145699
14                  23380  0.023867  0.152637
15                  28348  0.024975  0.156053
16                  32773  0.028469  0.166310
17                  34768  0.032472  0.177254
18                  35653  0.035257  0.184430
19                  36165  0.034813  0.183308
20                  35606  0.034236  0.181837
21                  35665  0.033618  0.180247
22                  35018  0.031812  0.175502
23                  34144  0.037986  0.191166
mean
                         count      mean       std
TransactionDT_dayOfWeek
0                        74010  0.032239  0.176635
1                        69659  0.032444  0.177177
2                        70777  0.034008  0.181252
3                        71355  0.037923  0.191012
4                        85694  0.035312  0.184568
5                        69606  0.036822  0.188325
6                        60113  0.036614  0.187815
std
                         count      mean       std
TransactionDT_dayOfWeek
0                        74010  0.032239  0.176635
1                        69659  0.032444  0.177177
2                        70777  0.034008  0.181252
3                        71355  0.037923  0.191012
4                        85694  0.035312  0.184568
5                        69606  0.036822  0.188325
6                        60113  0.036614  0.187815
mean
                          count      mean       std
TransactionDT_dayOfMonth
1                         17998  0.031670  0.175125
2                         21092  0.035796  0.185784
3                         19440  0.034671  0.182949
4                         16848  0.032585  0.177554
5                         17520  0.036187  0.186761
6                         16483  0.031002  0.173327
7                         15069  0.037693  0.190460
8                         15943  0.038512  0.192435
9                         16196  0.035811  0.185825
10                        15025  0.033943  0.181090
11                        14756  0.035172  0.184221
12                        16745  0.036130  0.186620
13                        16061  0.031816  0.175516
14                        15746  0.036263  0.186950
15                        15908  0.037088  0.188984
16                        16597  0.029041  0.167928
17                        15210  0.038988  0.193572
18                        15898  0.031765  0.175379
19                        17505  0.036218  0.186838
20                        17563  0.035643  0.185404
21                        16515  0.031244  0.173983
22                        18399  0.030002  0.170596
23                        18189  0.036066  0.186459
24                        16923  0.029191  0.168347
25                        16531  0.033694  0.180446
26                        15582  0.032602  0.177597
27                        15594  0.038220  0.191733
28                        14555  0.043490  0.203965
29                        12743  0.035392  0.184776
30                        13524  0.040668  0.197528
31                         9056  0.048034  0.213851
std
                          count      mean       std
TransactionDT_dayOfMonth
1                         17998  0.031670  0.175125
2                         21092  0.035796  0.185784
3                         19440  0.034671  0.182949
4                         16848  0.032585  0.177554
5                         17520  0.036187  0.186761
6                         16483  0.031002  0.173327
7                         15069  0.037693  0.190460
8                         15943  0.038512  0.192435
9                         16196  0.035811  0.185825
10                        15025  0.033943  0.181090
11                        14756  0.035172  0.184221
12                        16745  0.036130  0.186620
13                        16061  0.031816  0.175516
14                        15746  0.036263  0.186950
15                        15908  0.037088  0.188984
16                        16597  0.029041  0.167928
17                        15210  0.038988  0.193572
18                        15898  0.031765  0.175379
19                        17505  0.036218  0.186838
20                        17563  0.035643  0.185404
21                        16515  0.031244  0.173983
22                        18399  0.030002  0.170596
23                        18189  0.036066  0.186459
24                        16923  0.029191  0.168347
25                        16531  0.033694  0.180446
26                        15582  0.032602  0.177597
27                        15594  0.038220  0.191733
28                        14555  0.043490  0.203965
29                        12743  0.035392  0.184776
30                        13524  0.040668  0.197528
31                         9056  0.048034  0.213851

mean
                            count      mean       std
TransactionDT_weekOfMonth
1                          124450  0.034239  0.181842
2                          110472  0.035394  0.184773
3                          115196  0.034255  0.181883
4                          115773  0.034516  0.182551
5                           35323  0.040653  0.197489
std
                            count      mean       std
TransactionDT_weekOfMonth
1                          124450  0.034239  0.181842
2                          110472  0.035394  0.184773
3                          115196  0.034255  0.181883
4                          115773  0.034516  0.182551
5                           35323  0.040653  0.197489
mean
            count      mean       std
DeviceType
desktop     74625  0.063611  0.244061
mobile      47872  0.098450  0.297925
std
            count      mean       std
DeviceType
desktop     74625  0.063611  0.244061
mobile      47872  0.098450  0.297925
mean
                count  mean      std
DeviceInfo
0PAJ5               1   0.0      NaN
0PJA2               1   0.0      NaN
0PM92               4   0.5  0.57735
1016S               1   0.0      NaN
2PQ93               1   0.0      NaN
...               ...   ...      ...
verykools5004       2   0.0  0.00000
verykools5034       1   0.0      NaN
verykools5035       1   0.0      NaN
vivo                1   0.0      NaN
xs-Z47b7VqTMxs      1   0.0      NaN

[1678 rows x 3 columns]
std
                count  mean      std
DeviceInfo
0PAJ5               1   0.0      NaN
0PJA2               1   0.0      NaN
0PM92               4   0.5  0.57735
1016S               1   0.0      NaN
2PQ93               1   0.0      NaN
...               ...   ...      ...
verykools5004       2   0.0  0.00000
verykools5034       1   0.0      NaN
verykools5035       1   0.0      NaN
vivo                1   0.0      NaN
xs-Z47b7VqTMxs      1   0.0      NaN

[1678 rows x 3 columns]
mean
          count      mean       std
OS_NAME
Android    5632  0.084162  0.277655
Linux       982  0.079430  0.270546
Mac         283  0.014134  0.118254
Mac OS X  11905  0.019488  0.138237
Windows   32034  0.035181  0.184241
func         10  0.000000  0.000000
iOS       17644  0.061097  0.239515
other         9  0.333333  0.500000
std
          count      mean       std
OS_NAME
Android    5632  0.084162  0.277655
Linux       982  0.079430  0.270546
Mac         283  0.014134  0.118254
Mac OS X  11905  0.019488  0.138237
Windows   32034  0.035181  0.184241
func         10  0.000000  0.000000
iOS       17644  0.061097  0.239515
other         9  0.333333  0.500000
mean
               count      mean       std
id_30
Android          930  0.109677  0.312655
Android 4.4.2     53  0.150943  0.361420
Android 5.0       41  0.000000  0.000000
Android 5.0.2     49  0.000000  0.000000
Android 5.1.1    324  0.308642  0.462648
...              ...       ...       ...
iOS 11.2.6      1456  0.059066  0.235829
iOS 11.3.0       639  0.048513  0.215017
iOS 11.4.0         1  0.000000       NaN
iOS 9.3.5        400  0.015000  0.121705
other              9  0.333333  0.500000

[73 rows x 3 columns]
std
               count      mean       std
id_30
Android          930  0.109677  0.312655
Android 4.4.2     53  0.150943  0.361420
Android 5.0       41  0.000000  0.000000
Android 5.0.2     49  0.000000  0.000000
Android 5.1.1    324  0.308642  0.462648
...              ...       ...       ...
iOS 11.2.6      1456  0.059066  0.235829
iOS 11.3.0       639  0.048513  0.215017
iOS 11.4.0         1  0.000000       NaN
iOS 9.3.5        400  0.015000  0.121705
other              9  0.333333  0.500000

[73 rows x 3 columns]
mean
       count        mean         std  nanmedian
addr1
100.0     36   46.441667   32.568496     38.427
101.0      1   50.838000         NaN     50.838
102.0     13   25.410385   15.246586     13.051
103.0      2  213.450000   33.234019    213.450
104.0     15   96.243333  102.236363     54.000
...      ...         ...         ...        ...
536.0    595  212.128857  263.701841    150.000
537.0      3   91.984333   38.317583    114.107
538.0      1   97.000000         NaN     97.000
539.0      1   71.132000         NaN     71.132
540.0     27   82.554444   58.383923     73.530

[441 rows x 4 columns]
std
       count        mean         std  nanmedian
addr1
100.0     36   46.441667   32.568496     38.427
101.0      1   50.838000         NaN     50.838
102.0     13   25.410385   15.246586     13.051
103.0      2  213.450000   33.234019    213.450
104.0     15   96.243333  102.236363     54.000
...      ...         ...         ...        ...
536.0    595  212.128857  263.701841    150.000
537.0      3   91.984333   38.317583    114.107
538.0      1   97.000000         NaN     97.000
539.0      1   71.132000         NaN     71.132
540.0     27   82.554444   58.383923     73.530

[441 rows x 4 columns]
<function nanmedian at 0x7fd301934710>
       count        mean         std  nanmedian
addr1
100.0     36   46.441667   32.568496     38.427
101.0      1   50.838000         NaN     50.838
102.0     13   25.410385   15.246586     13.051
103.0      2  213.450000   33.234019    213.450
104.0     15   96.243333  102.236363     54.000
...      ...         ...         ...        ...
536.0    595  212.128857  263.701841    150.000
537.0      3   91.984333   38.317583    114.107
538.0      1   97.000000         NaN     97.000
539.0      1   71.132000         NaN     71.132
540.0     27   82.554444   58.383923     73.530

[441 rows x 4 columns]
mean
       count        mean        std  nanmedian
addr2
10.0      11  127.272727  26.111648    150.000
11.0       1   30.000000        NaN     30.000
12.0       4  100.000000   0.000000    100.000
13.0       8   38.825625  28.590908     27.751
14.0       1   50.838000        NaN     50.838
...      ...         ...        ...        ...
98.0      26   59.615308  25.452884     50.000
99.0       1   71.132000        NaN     71.132
100.0      7   78.571429  26.726124    100.000
101.0      9   79.231444  35.704463     75.000
102.0     21   71.759286  41.311086     64.130

[93 rows x 4 columns]
std
       count        mean        std  nanmedian
addr2
10.0      11  127.272727  26.111648    150.000
11.0       1   30.000000        NaN     30.000
12.0       4  100.000000   0.000000    100.000
13.0       8   38.825625  28.590908     27.751
14.0       1   50.838000        NaN     50.838
...      ...         ...        ...        ...
98.0      26   59.615308  25.452884     50.000
99.0       1   71.132000        NaN     71.132
100.0      7   78.571429  26.726124    100.000
101.0      9   79.231444  35.704463     75.000
102.0     21   71.759286  41.311086     64.130

[93 rows x 4 columns]
<function nanmedian at 0x7fd301934710>
       count        mean        std  nanmedian
addr2
10.0      11  127.272727  26.111648    150.000
11.0       1   30.000000        NaN     30.000
12.0       4  100.000000   0.000000    100.000
13.0       8   38.825625  28.590908     27.751
14.0       1   50.838000        NaN     50.838
...      ...         ...        ...        ...
98.0      26   59.615308  25.452884     50.000
99.0       1   71.132000        NaN     71.132
100.0      7   78.571429  26.726124    100.000
101.0      9   79.231444  35.704463     75.000
102.0     21   71.759286  41.311086     64.130

[93 rows x 4 columns]
mean
                    count        mean         std  nanmedian
TransactionDT_hour
0                   68404  122.344625  214.071013     59.000
1                   59223  114.672330  190.625083     59.000
2                   48943  109.864899  182.058227     59.000
3                   38082  106.081335  180.327300     58.950
4                   27136  102.767919  166.374659     57.950
5                   17721  102.541208  169.773566     57.950
6                   10851  110.580201  172.917351     59.000
7                    6669  116.679676  171.880975     61.681
8                    4845  134.507646  274.202639     70.087
9                    4833  143.506933  243.665330     77.000
10                   7161  127.772157  188.664210     77.000
11                  13357  125.281075  178.156736     75.000
12                  24284  134.187970  207.016421     77.000
13                  39799  144.254617  237.322939     78.950
14                  54258  146.699702  260.107838     77.950
15                  64434  148.523738  266.333725     77.000
16                  72652  146.016150  258.151642     77.000
17                  75927  150.803938  271.028686     77.000
18                  76926  146.889266  262.124682     76.129
19                  77870  144.626466  256.354421     75.887
20                  77265  144.201150  258.598417     75.000
21                  77139  141.136848  253.339877     70.825
22                  75848  134.717928  243.610131     67.950
23                  73604  129.234652  283.737398     59.000
std
                    count        mean         std  nanmedian
TransactionDT_hour
0                   68404  122.344625  214.071013     59.000
1                   59223  114.672330  190.625083     59.000
2                   48943  109.864899  182.058227     59.000
3                   38082  106.081335  180.327300     58.950
4                   27136  102.767919  166.374659     57.950
5                   17721  102.541208  169.773566     57.950
6                   10851  110.580201  172.917351     59.000
7                    6669  116.679676  171.880975     61.681
8                    4845  134.507646  274.202639     70.087
9                    4833  143.506933  243.665330     77.000
10                   7161  127.772157  188.664210     77.000
11                  13357  125.281075  178.156736     75.000
12                  24284  134.187970  207.016421     77.000
13                  39799  144.254617  237.322939     78.950
14                  54258  146.699702  260.107838     77.950
15                  64434  148.523738  266.333725     77.000
16                  72652  146.016150  258.151642     77.000
17                  75927  150.803938  271.028686     77.000
18                  76926  146.889266  262.124682     76.129
19                  77870  144.626466  256.354421     75.887
20                  77265  144.201150  258.598417     75.000
21                  77139  141.136848  253.339877     70.825
22                  75848  134.717928  243.610131     67.950
23                  73604  129.234652  283.737398     59.000
<function nanmedian at 0x7fd301934710>
                    count        mean         std  nanmedian
TransactionDT_hour
0                   68404  122.344625  214.071013     59.000
1                   59223  114.672330  190.625083     59.000
2                   48943  109.864899  182.058227     59.000
3                   38082  106.081335  180.327300     58.950
4                   27136  102.767919  166.374659     57.950
5                   17721  102.541208  169.773566     57.950
6                   10851  110.580201  172.917351     59.000
7                    6669  116.679676  171.880975     61.681
8                    4845  134.507646  274.202639     70.087
9                    4833  143.506933  243.665330     77.000
10                   7161  127.772157  188.664210     77.000
11                  13357  125.281075  178.156736     75.000
12                  24284  134.187970  207.016421     77.000
13                  39799  144.254617  237.322939     78.950
14                  54258  146.699702  260.107838     77.950
15                  64434  148.523738  266.333725     77.000
16                  72652  146.016150  258.151642     77.000
17                  75927  150.803938  271.028686     77.000
18                  76926  146.889266  262.124682     76.129
19                  77870  144.626466  256.354421     75.887
20                  77265  144.201150  258.598417     75.000
21                  77139  141.136848  253.339877     70.825
22                  75848  134.717928  243.610131     67.950
23                  73604  129.234652  283.737398     59.000

mean
                          count        mean         std  nanmedian
TransactionDT_dayOfWeek
0                        162578  136.137457  247.457166    68.5000
1                        161510  139.141977  249.086911    67.9500
2                        158672  141.983459  278.590694    71.3255
3                        157223  140.864879  251.321189    70.0000
4                        179744  146.530553  264.386266    75.0000
5                        146223  124.187522  200.753522    66.3520
6                        131281  108.350388  164.607740    59.0000
std
                          count        mean         std  nanmedian
TransactionDT_dayOfWeek
0                        162578  136.137457  247.457166    68.5000
1                        161510  139.141977  249.086911    67.9500
2                        158672  141.983459  278.590694    71.3255
3                        157223  140.864879  251.321189    70.0000
4                        179744  146.530553  264.386266    75.0000
5                        146223  124.187522  200.753522    66.3520
6                        131281  108.350388  164.607740    59.0000
<function nanmedian at 0x7fd301934710>
                          count        mean         std  nanmedian
TransactionDT_dayOfWeek
0                        162578  136.137457  247.457166    68.5000
1                        161510  139.141977  249.086911    67.9500
2                        158672  141.983459  278.590694    71.3255
3                        157223  140.864879  251.321189    70.0000
4                        179744  146.530553  264.386266    75.0000
5                        146223  124.187522  200.753522    66.3520
6                        131281  108.350388  164.607740    59.0000
mean
                          count        mean         std  nanmedian
TransactionDT_dayOfMonth
1                         40309  137.708173  233.856557    77.0000
2                         41507  138.890540  234.617104    75.0000
3                         42442  132.572280  216.517290    75.0000
4                         36785  130.705104  228.884239    67.9500
5                         36239  138.577305  270.658282    67.9500
6                         34901  137.163942  249.230193    67.9500
7                         34025  136.005797  243.048015    65.0000
8                         33712  131.596851  227.999487    65.0000
9                         34167  134.975013  243.961548    67.0670
10                        33906  131.839188  227.519055    66.1105
11                        33075  133.989463  247.162627    64.1850
12                        35238  134.387607  236.361094    67.9500
13                        35054  133.595293  231.467516    68.0470
14                        35112  136.439150  335.279664    67.9500
15                        34684  134.170461  239.168780    67.9500
16                        35935  132.811435  236.467528    67.9500
17                        36102  133.033032  234.461573    67.4440
18                        36241  134.571984  240.602919    67.9500
19                        37388  135.815787  229.076078    72.4900
20                        37699  133.922063  227.214935    75.0000
21                        37714  134.570096  233.134735    75.0000
22                        37216  135.117063  235.309682    72.9500
23                        37059  132.321227  224.644787    70.0000
24                        38859  126.922527  208.278051    75.0000
25                        36618  121.110772  210.829721    67.9500
26                        34303  143.586780  258.682578    67.9500
27                        34140  139.422711  261.017042    64.7130
28                        32878  135.691431  246.747975    67.9500
29                        30713  133.690393  241.563221    62.9500
30                        32473  142.043317  265.793960    67.9500
31                        20737  153.583490  293.025770    70.3950
std
                          count        mean         std  nanmedian
TransactionDT_dayOfMonth
1                         40309  137.708173  233.856557    77.0000
2                         41507  138.890540  234.617104    75.0000
3                         42442  132.572280  216.517290    75.0000
4                         36785  130.705104  228.884239    67.9500
5                         36239  138.577305  270.658282    67.9500
6                         34901  137.163942  249.230193    67.9500
7                         34025  136.005797  243.048015    65.0000
8                         33712  131.596851  227.999487    65.0000
9                         34167  134.975013  243.961548    67.0670
10                        33906  131.839188  227.519055    66.1105
11                        33075  133.989463  247.162627    64.1850
12                        35238  134.387607  236.361094    67.9500
13                        35054  133.595293  231.467516    68.0470
14                        35112  136.439150  335.279664    67.9500
15                        34684  134.170461  239.168780    67.9500
16                        35935  132.811435  236.467528    67.9500
17                        36102  133.033032  234.461573    67.4440
18                        36241  134.571984  240.602919    67.9500
19                        37388  135.815787  229.076078    72.4900
20                        37699  133.922063  227.214935    75.0000
21                        37714  134.570096  233.134735    75.0000
22                        37216  135.117063  235.309682    72.9500
23                        37059  132.321227  224.644787    70.0000
24                        38859  126.922527  208.278051    75.0000
25                        36618  121.110772  210.829721    67.9500
26                        34303  143.586780  258.682578    67.9500
27                        34140  139.422711  261.017042    64.7130
28                        32878  135.691431  246.747975    67.9500
29                        30713  133.690393  241.563221    62.9500
30                        32473  142.043317  265.793960    67.9500
31                        20737  153.583490  293.025770    70.3950
<function nanmedian at 0x7fd301934710>
                          count        mean         std  nanmedian
TransactionDT_dayOfMonth
1                         40309  137.708173  233.856557    77.0000
2                         41507  138.890540  234.617104    75.0000
3                         42442  132.572280  216.517290    75.0000
4                         36785  130.705104  228.884239    67.9500
5                         36239  138.577305  270.658282    67.9500
6                         34901  137.163942  249.230193    67.9500
7                         34025  136.005797  243.048015    65.0000
8                         33712  131.596851  227.999487    65.0000
9                         34167  134.975013  243.961548    67.0670
10                        33906  131.839188  227.519055    66.1105
11                        33075  133.989463  247.162627    64.1850
12                        35238  134.387607  236.361094    67.9500
13                        35054  133.595293  231.467516    68.0470
14                        35112  136.439150  335.279664    67.9500
15                        34684  134.170461  239.168780    67.9500
16                        35935  132.811435  236.467528    67.9500
17                        36102  133.033032  234.461573    67.4440
18                        36241  134.571984  240.602919    67.9500
19                        37388  135.815787  229.076078    72.4900
20                        37699  133.922063  227.214935    75.0000
21                        37714  134.570096  233.134735    75.0000
22                        37216  135.117063  235.309682    72.9500
23                        37059  132.321227  224.644787    70.0000
24                        38859  126.922527  208.278051    75.0000
25                        36618  121.110772  210.829721    67.9500
26                        34303  143.586780  258.682578    67.9500
27                        34140  139.422711  261.017042    64.7130
28                        32878  135.691431  246.747975    67.9500
29                        30713  133.690393  241.563221    62.9500
30                        32473  142.043317  265.793960    67.9500
31                        20737  153.583490  293.025770    70.3950

mean
                            count        mean         std  nanmedian
TransactionDT_weekOfMonth
1                          266208  135.935386  239.270201     69.319
2                          240264  133.849335  252.807296     67.950
3                          255763  134.138691  234.245081     68.950
4                          251073  133.211206  235.116871     67.950
5                           83923  141.837953  264.507583     67.950
std
                            count        mean         std  nanmedian
TransactionDT_weekOfMonth
1                          266208  135.935386  239.270201     69.319
2                          240264  133.849335  252.807296     67.950
3                          255763  134.138691  234.245081     68.950
4                          251073  133.211206  235.116871     67.950
5                           83923  141.837953  264.507583     67.950
<function nanmedian at 0x7fd301934710>
                            count        mean         std  nanmedian
TransactionDT_weekOfMonth
1                          266208  135.935386  239.270201     69.319
2                          240264  133.849335  252.807296     67.950
3                          255763  134.138691  234.245081     68.950
4                          251073  133.211206  235.116871     67.950
5                           83923  141.837953  264.507583     67.950
mean
             count       mean         std  nanmedian
DeviceType
desktop     159568  97.949103  136.436053     53.949
mobile      118173  67.754004   85.090543     42.114
std
             count       mean         std  nanmedian
DeviceType
desktop     159568  97.949103  136.436053     53.949
mobile      118173  67.754004   85.090543     42.114
<function nanmedian at 0x7fd301934710>
             count       mean         std  nanmedian
DeviceType
desktop     159568  97.949103  136.436053     53.949
mobile      118173  67.754004   85.090543     42.114
mean
                count        mean        std  nanmedian
DeviceInfo
0PAJ5               1  100.000000        NaN    100.000
0PJA2               1  150.000000        NaN    150.000
0PM92               4   41.377500  11.145104     45.255
1016S               1   27.284000        NaN     27.284
2014819             1   17.829000        NaN     17.829
...               ...         ...        ...        ...
verykools5036       1   41.315000        NaN     41.315
verykools5702       1    8.607000        NaN      8.607
vivo                6   30.781333   1.579206     30.310
weimei_we           1   59.021000        NaN     59.021
xs-Z47b7VqTMxs      1   50.000000        NaN     50.000

[2799 rows x 4 columns]
std
                count        mean        std  nanmedian
DeviceInfo
0PAJ5               1  100.000000        NaN    100.000
0PJA2               1  150.000000        NaN    150.000
0PM92               4   41.377500  11.145104     45.255
1016S               1   27.284000        NaN     27.284
2014819             1   17.829000        NaN     17.829
...               ...         ...        ...        ...
verykools5036       1   41.315000        NaN     41.315
verykools5702       1    8.607000        NaN      8.607
vivo                6   30.781333   1.579206     30.310
weimei_we           1   59.021000        NaN     59.021
xs-Z47b7VqTMxs      1   50.000000        NaN     50.000

[2799 rows x 4 columns]
<function nanmedian at 0x7fd301934710>
                count        mean        std  nanmedian
DeviceInfo
0PAJ5               1  100.000000        NaN    100.000
0PJA2               1  150.000000        NaN    150.000
0PM92               4   41.377500  11.145104     45.255
1016S               1   27.284000        NaN     27.284
2014819             1   17.829000        NaN     17.829
...               ...         ...        ...        ...
verykools5036       1   41.315000        NaN     41.315
verykools5702       1    8.607000        NaN      8.607
vivo                6   30.781333   1.579206     30.310
weimei_we           1   59.021000        NaN     59.021
xs-Z47b7VqTMxs      1   50.000000        NaN     50.000

[2799 rows x 4 columns]
mean
          count        mean         std  nanmedian
OS_NAME
Android   11783   92.397182   96.162674       50.0
Linux      2488   60.079582   72.008662       30.0
Mac         424  101.273585   99.481995       75.0
Mac OS X  25210  121.986359  150.588025      100.0
Windows   69777  131.432136  165.337591      100.0
func         21   63.095238   44.454364       50.0
iOS       38502  114.234510  114.800577      100.0
other        19   87.894737   42.141158      100.0
std
          count        mean         std  nanmedian
OS_NAME
Android   11783   92.397182   96.162674       50.0
Linux      2488   60.079582   72.008662       30.0
Mac         424  101.273585   99.481995       75.0
Mac OS X  25210  121.986359  150.588025      100.0
Windows   69777  131.432136  165.337591      100.0
func         21   63.095238   44.454364       50.0
iOS       38502  114.234510  114.800577      100.0
other        19   87.894737   42.141158      100.0
<function nanmedian at 0x7fd301934710>
          count        mean         std  nanmedian
OS_NAME
Android   11783   92.397182   96.162674       50.0
Linux      2488   60.079582   72.008662       30.0
Mac         424  101.273585   99.481995       75.0
Mac OS X  25210  121.986359  150.588025      100.0
Windows   69777  131.432136  165.337591      100.0
func         21   63.095238   44.454364       50.0
iOS       38502  114.234510  114.800577      100.0
other        19   87.894737   42.141158      100.0
mean
               count        mean         std  nanmedian
id_30
Android         1848   61.596320   89.171330       25.0
Android 4.4.2     67   86.044776   72.694344       50.0
Android 5.0       59  110.677966   97.765808      100.0
Android 5.0.2     86   62.162791   51.075921       50.0
Android 5.1.1    677   92.026588   84.174951       50.0
...              ...         ...         ...        ...
iOS 12.1.0      6349  115.854741  121.853180      100.0
iOS 12.1.1       539  128.413729  161.341200      100.0
iOS 12.1.2      1208  101.026490   84.473501      100.0
iOS 9.3.5        644  107.906832   87.284277      100.0
other             19   87.894737   42.141158      100.0

[87 rows x 4 columns]
std
               count        mean         std  nanmedian
id_30
Android         1848   61.596320   89.171330       25.0
Android 4.4.2     67   86.044776   72.694344       50.0
Android 5.0       59  110.677966   97.765808      100.0
Android 5.0.2     86   62.162791   51.075921       50.0
Android 5.1.1    677   92.026588   84.174951       50.0
...              ...         ...         ...        ...
iOS 12.1.0      6349  115.854741  121.853180      100.0
iOS 12.1.1       539  128.413729  161.341200      100.0
iOS 12.1.2      1208  101.026490   84.473501      100.0
iOS 9.3.5        644  107.906832   87.284277      100.0
other             19   87.894737   42.141158      100.0

[87 rows x 4 columns]
<function nanmedian at 0x7fd301934710>
               count        mean         std  nanmedian
id_30
Android         1848   61.596320   89.171330       25.0
Android 4.4.2     67   86.044776   72.694344       50.0
Android 5.0       59  110.677966   97.765808      100.0
Android 5.0.2     86   62.162791   51.075921       50.0
Android 5.1.1    677   92.026588   84.174951       50.0
...              ...         ...         ...        ...
iOS 12.1.0      6349  115.854741  121.853180      100.0
iOS 12.1.1       539  128.413729  161.341200      100.0
iOS 12.1.2      1208  101.026490   84.473501      100.0
iOS 9.3.5        644  107.906832   87.284277      100.0
other             19   87.894737   42.141158      100.0

[87 rows x 4 columns]

mean
       count           mean            std  nanmedian
addr1
100.0     36  238897.416667  168651.804480   207191.5
101.0      1  234976.000000            NaN   234976.0
102.0     13  208880.692308  123292.140951   181630.0
103.0      0            NaN            NaN        NaN
104.0      0            NaN            NaN        NaN
...      ...            ...            ...        ...
536.0    533  155023.172608  148014.021249   115225.0
537.0      3  549910.666667  244263.390770   657317.0
538.0      0            NaN            NaN        NaN
539.0      1  294056.000000            NaN   294056.0
540.0     17  313140.352941  152074.600366   302353.0

[441 rows x 4 columns]
std
       count           mean            std  nanmedian
addr1
100.0     36  238897.416667  168651.804480   207191.5
101.0      1  234976.000000            NaN   234976.0
102.0     13  208880.692308  123292.140951   181630.0
103.0      0            NaN            NaN        NaN
104.0      0            NaN            NaN        NaN
...      ...            ...            ...        ...
536.0    533  155023.172608  148014.021249   115225.0
537.0      3  549910.666667  244263.390770   657317.0
538.0      0            NaN            NaN        NaN
539.0      1  294056.000000            NaN   294056.0
540.0     17  313140.352941  152074.600366   302353.0

[441 rows x 4 columns]
<function nanmedian at 0x7fd301934710>
       count           mean            std  nanmedian
addr1
100.0     36  238897.416667  168651.804480   207191.5
101.0      1  234976.000000            NaN   234976.0
102.0     13  208880.692308  123292.140951   181630.0
103.0      0            NaN            NaN        NaN
104.0      0            NaN            NaN        NaN
...      ...            ...            ...        ...
536.0    533  155023.172608  148014.021249   115225.0
537.0      3  549910.666667  244263.390770   657317.0
538.0      0            NaN            NaN        NaN
539.0      1  294056.000000            NaN   294056.0
540.0     17  313140.352941  152074.600366   302353.0

[441 rows x 4 columns]
mean
       count           mean            std  nanmedian
addr2
10.0      11   35683.363636   36712.210740    19312.0
11.0       1  130133.000000            NaN   130133.0
12.0       2   70596.500000   47409.388358    70596.5
13.0       8  192897.375000   84274.327936   172784.0
14.0       1  234976.000000            NaN   234976.0
...      ...            ...            ...        ...
98.0      26  142440.000000  107696.440713   118674.0
99.0       1  294056.000000            NaN   294056.0
100.0      7   76857.285714   37124.956717    84107.0
101.0      9  140038.222222   85416.608948   122303.0
102.0     21  310242.476190  218073.684437   293800.0

[93 rows x 4 columns]
std
       count           mean            std  nanmedian
addr2
10.0      11   35683.363636   36712.210740    19312.0
11.0       1  130133.000000            NaN   130133.0
12.0       2   70596.500000   47409.388358    70596.5
13.0       8  192897.375000   84274.327936   172784.0
14.0       1  234976.000000            NaN   234976.0
...      ...            ...            ...        ...
98.0      26  142440.000000  107696.440713   118674.0
99.0       1  294056.000000            NaN   294056.0
100.0      7   76857.285714   37124.956717    84107.0
101.0      9  140038.222222   85416.608948   122303.0
102.0     21  310242.476190  218073.684437   293800.0

[93 rows x 4 columns]
<function nanmedian at 0x7fd301934710>
       count           mean            std  nanmedian
addr2
10.0      11   35683.363636   36712.210740    19312.0
11.0       1  130133.000000            NaN   130133.0
12.0       2   70596.500000   47409.388358    70596.5
13.0       8  192897.375000   84274.327936   172784.0
14.0       1  234976.000000            NaN   234976.0
...      ...            ...            ...        ...
98.0      26  142440.000000  107696.440713   118674.0
99.0       1  294056.000000            NaN   294056.0
100.0      7   76857.285714   37124.956717    84107.0
101.0      9  140038.222222   85416.608948   122303.0
102.0     21  310242.476190  218073.684437   293800.0

[93 rows x 4 columns]
mean
                    count           mean            std  nanmedian
TransactionDT_hour
0                   16032  195475.996756  175691.914197   141639.5
1                   15657  207646.360733  179501.262378   153637.0
2                   15028  214546.216662  185371.108387   157678.0
3                   13711  228651.181752  190769.593574   172072.0
4                   11064  235260.675886  189775.865711   182346.5
5                    7383  232441.759989  186373.200890   181455.0
6                    4181  219523.638125  183106.191216   167280.0
7                    2273  200446.176419  173465.291460   148915.0
8                    1375  187132.632000  174613.874779   133563.0
9                    1070  176891.716822  170187.954422   127386.5
10                   1338  158267.910314  163547.866233   111513.5
11                   2556  151511.222222  164337.352173   101911.5
12                   4648  148404.591007  158171.019817    98768.5
13                   8501  151837.486296  157256.848772   102894.0
14                  13147  157269.763901  162640.828224   105472.0
15                  15986  165700.755474  166259.486397   113153.0
16                  18377  168457.912499  163524.053880   115364.0
17                  18528  163869.047927  157461.386676   114096.0
18                  18463  168449.065482  163783.551692   117424.0
19                  18890  169935.660244  161572.703712   118124.5
20                  18424  168901.060193  161324.638151   119061.5
21                  17790  174573.806577  162829.574445   123003.5
22                  17138  180505.512895  167873.002187   127186.0
23                  16288  187857.624325  170244.740681   134924.0
std
                    count           mean            std  nanmedian
TransactionDT_hour
0                   16032  195475.996756  175691.914197   141639.5
1                   15657  207646.360733  179501.262378   153637.0
2                   15028  214546.216662  185371.108387   157678.0
3                   13711  228651.181752  190769.593574   172072.0
4                   11064  235260.675886  189775.865711   182346.5
5                    7383  232441.759989  186373.200890   181455.0
6                    4181  219523.638125  183106.191216   167280.0
7                    2273  200446.176419  173465.291460   148915.0
8                    1375  187132.632000  174613.874779   133563.0
9                    1070  176891.716822  170187.954422   127386.5
10                   1338  158267.910314  163547.866233   111513.5
11                   2556  151511.222222  164337.352173   101911.5
12                   4648  148404.591007  158171.019817    98768.5
13                   8501  151837.486296  157256.848772   102894.0
14                  13147  157269.763901  162640.828224   105472.0
15                  15986  165700.755474  166259.486397   113153.0
16                  18377  168457.912499  163524.053880   115364.0
17                  18528  163869.047927  157461.386676   114096.0
18                  18463  168449.065482  163783.551692   117424.0
19                  18890  169935.660244  161572.703712   118124.5
20                  18424  168901.060193  161324.638151   119061.5
21                  17790  174573.806577  162829.574445   123003.5
22                  17138  180505.512895  167873.002187   127186.0
23                  16288  187857.624325  170244.740681   134924.0
<function nanmedian at 0x7fd301934710>
                    count           mean            std  nanmedian
TransactionDT_hour
0                   16032  195475.996756  175691.914197   141639.5
1                   15657  207646.360733  179501.262378   153637.0
2                   15028  214546.216662  185371.108387   157678.0
3                   13711  228651.181752  190769.593574   172072.0
4                   11064  235260.675886  189775.865711   182346.5
5                    7383  232441.759989  186373.200890   181455.0
6                    4181  219523.638125  183106.191216   167280.0
7                    2273  200446.176419  173465.291460   148915.0
8                    1375  187132.632000  174613.874779   133563.0
9                    1070  176891.716822  170187.954422   127386.5
10                   1338  158267.910314  163547.866233   111513.5
11                   2556  151511.222222  164337.352173   101911.5
12                   4648  148404.591007  158171.019817    98768.5
13                   8501  151837.486296  157256.848772   102894.0
14                  13147  157269.763901  162640.828224   105472.0
15                  15986  165700.755474  166259.486397   113153.0
16                  18377  168457.912499  163524.053880   115364.0
17                  18528  163869.047927  157461.386676   114096.0
18                  18463  168449.065482  163783.551692   117424.0
19                  18890  169935.660244  161572.703712   118124.5
20                  18424  168901.060193  161324.638151   119061.5
21                  17790  174573.806577  162829.574445   123003.5
22                  17138  180505.512895  167873.002187   127186.0
23                  16288  187857.624325  170244.740681   134924.0

mean
                         count           mean            std  nanmedian
TransactionDT_dayOfWeek
0                        42286  172049.008797  167618.669902   117903.0
1                        40313  176309.488875  169308.587855   121543.0
2                        37653  181517.439593  171428.477713   126877.0
3                        39058  185504.062522  171598.694003   131138.0
4                        44597  186980.789313  171266.588904   131757.0
5                        37148  193316.005761  173359.466132   139991.0
6                        36793  190777.838937  176186.217887   136756.0
std
                         count           mean            std  nanmedian
TransactionDT_dayOfWeek
0                        42286  172049.008797  167618.669902   117903.0
1                        40313  176309.488875  169308.587855   121543.0
2                        37653  181517.439593  171428.477713   126877.0
3                        39058  185504.062522  171598.694003   131138.0
4                        44597  186980.789313  171266.588904   131757.0
5                        37148  193316.005761  173359.466132   139991.0
6                        36793  190777.838937  176186.217887   136756.0
<function nanmedian at 0x7fd301934710>
                         count           mean            std  nanmedian
TransactionDT_dayOfWeek
0                        42286  172049.008797  167618.669902   117903.0
1                        40313  176309.488875  169308.587855   121543.0
2                        37653  181517.439593  171428.477713   126877.0
3                        39058  185504.062522  171598.694003   131138.0
4                        44597  186980.789313  171266.588904   131757.0
5                        37148  193316.005761  173359.466132   139991.0
6                        36793  190777.838937  176186.217887   136756.0
mean
                          count           mean            std  nanmedian
TransactionDT_dayOfMonth
1                          7092  190828.974337  172600.864315   139056.0
2                          7294  190495.325610  170423.877268   139165.5
3                          7009  188259.471537  174052.063868   134448.0
4                          7048  184797.203320  175249.699753   129584.5
5                          7509  185769.650553  172430.144745   129841.0
6                          7385  184342.468382  174895.475794   129574.0
7                          7668  182222.453834  168772.211644   130830.0
8                          7814  186575.422959  176300.099451   131109.0
9                          8080  181033.055693  169826.262622   128776.0
10                         7908  180256.443601  172294.312493   123840.5
11                         8188  182697.091842  173611.214343   125858.0
12                         8832  186070.974185  176110.424817   128790.5
13                         9198  176920.025114  173313.830391   123269.5
14                         9283  179325.436066  168379.265961   125254.0
15                         9088  180620.316901  165592.413812   129504.0
16                         9482  187174.173592  172193.025621   130423.0
17                         9839  182231.196971  173022.723590   127880.0
18                        10429  182032.575606  169471.973603   126758.0
19                        11187  182455.630911  172136.579408   126120.0
20                        11619  170117.518719  170462.265725   116417.0
21                        11395  169994.235103  163076.629867   117439.0
22                        11548  178926.061309  161781.236320   129033.5
23                        11316  184853.192648  172142.348730   130861.5
24                        13631  170783.313917  162346.947055   118321.0
25                        13278  166196.676457  158373.830388   115561.0
26                         8911  199868.179441  181643.698324   141700.0
27                         8698  199832.520464  179667.894732   145248.0
28                         7904  202053.654226  178980.537461   148176.5
29                         7406  206670.599919  181031.099642   150844.5
30                         7623  200732.038567  181400.292973   144924.0
31                         4186  184976.208552  167204.183522   136515.0
std
                          count           mean            std  nanmedian
TransactionDT_dayOfMonth
1                          7092  190828.974337  172600.864315   139056.0
2                          7294  190495.325610  170423.877268   139165.5
3                          7009  188259.471537  174052.063868   134448.0
4                          7048  184797.203320  175249.699753   129584.5
5                          7509  185769.650553  172430.144745   129841.0
6                          7385  184342.468382  174895.475794   129574.0
7                          7668  182222.453834  168772.211644   130830.0
8                          7814  186575.422959  176300.099451   131109.0
9                          8080  181033.055693  169826.262622   128776.0
10                         7908  180256.443601  172294.312493   123840.5
11                         8188  182697.091842  173611.214343   125858.0
12                         8832  186070.974185  176110.424817   128790.5
13                         9198  176920.025114  173313.830391   123269.5
14                         9283  179325.436066  168379.265961   125254.0
15                         9088  180620.316901  165592.413812   129504.0
16                         9482  187174.173592  172193.025621   130423.0
17                         9839  182231.196971  173022.723590   127880.0
18                        10429  182032.575606  169471.973603   126758.0
19                        11187  182455.630911  172136.579408   126120.0
20                        11619  170117.518719  170462.265725   116417.0
21                        11395  169994.235103  163076.629867   117439.0
22                        11548  178926.061309  161781.236320   129033.5
23                        11316  184853.192648  172142.348730   130861.5
24                        13631  170783.313917  162346.947055   118321.0
25                        13278  166196.676457  158373.830388   115561.0
26                         8911  199868.179441  181643.698324   141700.0
27                         8698  199832.520464  179667.894732   145248.0
28                         7904  202053.654226  178980.537461   148176.5
29                         7406  206670.599919  181031.099642   150844.5
30                         7623  200732.038567  181400.292973   144924.0
31                         4186  184976.208552  167204.183522   136515.0
<function nanmedian at 0x7fd301934710>
                          count           mean            std  nanmedian
TransactionDT_dayOfMonth
1                          7092  190828.974337  172600.864315   139056.0
2                          7294  190495.325610  170423.877268   139165.5
3                          7009  188259.471537  174052.063868   134448.0
4                          7048  184797.203320  175249.699753   129584.5
5                          7509  185769.650553  172430.144745   129841.0
6                          7385  184342.468382  174895.475794   129574.0
7                          7668  182222.453834  168772.211644   130830.0
8                          7814  186575.422959  176300.099451   131109.0
9                          8080  181033.055693  169826.262622   128776.0
10                         7908  180256.443601  172294.312493   123840.5
11                         8188  182697.091842  173611.214343   125858.0
12                         8832  186070.974185  176110.424817   128790.5
13                         9198  176920.025114  173313.830391   123269.5
14                         9283  179325.436066  168379.265961   125254.0
15                         9088  180620.316901  165592.413812   129504.0
16                         9482  187174.173592  172193.025621   130423.0
17                         9839  182231.196971  173022.723590   127880.0
18                        10429  182032.575606  169471.973603   126758.0
19                        11187  182455.630911  172136.579408   126120.0
20                        11619  170117.518719  170462.265725   116417.0
21                        11395  169994.235103  163076.629867   117439.0
22                        11548  178926.061309  161781.236320   129033.5
23                        11316  184853.192648  172142.348730   130861.5
24                        13631  170783.313917  162346.947055   118321.0
25                        13278  166196.676457  158373.830388   115561.0
26                         8911  199868.179441  181643.698324   141700.0
27                         8698  199832.520464  179667.894732   145248.0
28                         7904  202053.654226  178980.537461   148176.5
29                         7406  206670.599919  181031.099642   150844.5
30                         7623  200732.038567  181400.292973   144924.0
31                         4186  184976.208552  167204.183522   136515.0

mean
                           count           mean            std  nanmedian
TransactionDT_weekOfMonth
1                          51005  186616.773395  172617.216192   133404.0
2                          59303  181734.590948  172826.245164   126466.0
3                          73039  178842.321691  169531.886275   124490.0
4                          75286  183419.817748  169835.784049   129329.5
5                          19215  199588.509081  178436.368601   144447.0
std
                           count           mean            std  nanmedian
TransactionDT_weekOfMonth
1                          51005  186616.773395  172617.216192   133404.0
2                          59303  181734.590948  172826.245164   126466.0
3                          73039  178842.321691  169531.886275   124490.0
4                          75286  183419.817748  169835.784049   129329.5
5                          19215  199588.509081  178436.368601   144447.0
<function nanmedian at 0x7fd301934710>
                           count           mean            std  nanmedian
TransactionDT_weekOfMonth
1                          51005  186616.773395  172617.216192   133404.0
2                          59303  181734.590948  172826.245164   126466.0
3                          73039  178842.321691  169531.886275   124490.0
4                          75286  183419.817748  169835.784049   129329.5
5                          19215  199588.509081  178436.368601   144447.0
mean
             count           mean            std  nanmedian
DeviceType
desktop     159568  135791.148908  134960.218970    97853.0
mobile      118173  248126.226989  193291.736163   195867.0
std
             count           mean            std  nanmedian
DeviceType
desktop     159568  135791.148908  134960.218970    97853.0
mobile      118173  248126.226989  193291.736163   195867.0
<function nanmedian at 0x7fd301934710>
             count           mean            std  nanmedian
DeviceType
desktop     159568  135791.148908  134960.218970    97853.0
mobile      118173  248126.226989  193291.736163   195867.0
mean
                count           mean            std  nanmedian
DeviceInfo
0PAJ5               1  133149.000000            NaN   133149.0
0PJA2               1  130455.000000            NaN   130455.0
0PM92               4  209932.750000  131431.494004   244472.0
1016S               1  160594.000000            NaN   160594.0
2014819             1  214765.000000            NaN   214765.0
...               ...            ...            ...        ...
verykools5036       1  763624.000000            NaN   763624.0
verykools5702       1  286657.000000            NaN   286657.0
vivo                6  295419.333333   83552.464425   286690.5
weimei_we           1  457373.000000            NaN   457373.0
xs-Z47b7VqTMxs      1   29158.000000            NaN    29158.0

[2799 rows x 4 columns]
std
                count           mean            std  nanmedian
DeviceInfo
0PAJ5               1  133149.000000            NaN   133149.0
0PJA2               1  130455.000000            NaN   130455.0
0PM92               4  209932.750000  131431.494004   244472.0
1016S               1  160594.000000            NaN   160594.0
2014819             1  214765.000000            NaN   214765.0
...               ...            ...            ...        ...
verykools5036       1  763624.000000            NaN   763624.0
verykools5702       1  286657.000000            NaN   286657.0
vivo                6  295419.333333   83552.464425   286690.5
weimei_we           1  457373.000000            NaN   457373.0
xs-Z47b7VqTMxs      1   29158.000000            NaN    29158.0

[2799 rows x 4 columns]
<function nanmedian at 0x7fd301934710>
                count           mean            std  nanmedian
DeviceInfo
0PAJ5               1  133149.000000            NaN   133149.0
0PJA2               1  130455.000000            NaN   130455.0
0PM92               4  209932.750000  131431.494004   244472.0
1016S               1  160594.000000            NaN   160594.0
2014819             1  214765.000000            NaN   214765.0
...               ...            ...            ...        ...
verykools5036       1  763624.000000            NaN   763624.0
verykools5702       1  286657.000000            NaN   286657.0
vivo                6  295419.333333   83552.464425   286690.5
weimei_we           1  457373.000000            NaN   457373.0
xs-Z47b7VqTMxs      1   29158.000000            NaN    29158.0

[2799 rows x 4 columns]
mean
          count           mean            std  nanmedian
OS_NAME
Android   11783   99572.677841  112974.627975    68305.0
Linux      2488   51457.813103   96035.515386    12348.5
Mac         424   90869.716981   93412.290437    69231.5
Mac OS X  25210  101034.684530  111047.353926    73512.0
Windows   69777   98452.288634  113144.604861    71635.0
func         21  104497.142857  138862.092998    64962.0
iOS       38502  136513.001221  120712.350503   107734.0
other        19   98366.421053  133177.205814    61721.0
std
          count           mean            std  nanmedian
OS_NAME
Android   11783   99572.677841  112974.627975    68305.0
Linux      2488   51457.813103   96035.515386    12348.5
Mac         424   90869.716981   93412.290437    69231.5
Mac OS X  25210  101034.684530  111047.353926    73512.0
Windows   69777   98452.288634  113144.604861    71635.0
func         21  104497.142857  138862.092998    64962.0
iOS       38502  136513.001221  120712.350503   107734.0
other        19   98366.421053  133177.205814    61721.0
<function nanmedian at 0x7fd301934710>
          count           mean            std  nanmedian
OS_NAME
Android   11783   99572.677841  112974.627975    68305.0
Linux      2488   51457.813103   96035.515386    12348.5
Mac         424   90869.716981   93412.290437    69231.5
Mac OS X  25210  101034.684530  111047.353926    73512.0
Windows   69777   98452.288634  113144.604861    71635.0
func         21  104497.142857  138862.092998    64962.0
iOS       38502  136513.001221  120712.350503   107734.0
other        19   98366.421053  133177.205814    61721.0
mean
               count           mean            std  nanmedian
id_30
Android         1848   36238.946429   71703.209217     5452.0
Android 4.4.2     67  123159.328358  111365.461434    92166.0
Android 5.0       59  157349.016949  124978.172210   119305.0
Android 5.0.2     86   82850.616279   95641.835060    42033.0
Android 5.1.1    677   92034.564254  113861.221269    58409.0
...              ...            ...            ...        ...
iOS 12.1.0      6349  132065.601040  120425.154305   102605.0
iOS 12.1.1       539  136351.213358  111024.246687   110429.0
iOS 12.1.2      1208  134652.101821  119146.510974   103523.0
iOS 9.3.5        644  161106.270186  111486.496083   144748.5
other             19   98366.421053  133177.205814    61721.0

[87 rows x 4 columns]
std
               count           mean            std  nanmedian
id_30
Android         1848   36238.946429   71703.209217     5452.0
Android 4.4.2     67  123159.328358  111365.461434    92166.0
Android 5.0       59  157349.016949  124978.172210   119305.0
Android 5.0.2     86   82850.616279   95641.835060    42033.0
Android 5.1.1    677   92034.564254  113861.221269    58409.0
...              ...            ...            ...        ...
iOS 12.1.0      6349  132065.601040  120425.154305   102605.0
iOS 12.1.1       539  136351.213358  111024.246687   110429.0
iOS 12.1.2      1208  134652.101821  119146.510974   103523.0
iOS 9.3.5        644  161106.270186  111486.496083   144748.5
other             19   98366.421053  133177.205814    61721.0

[87 rows x 4 columns]
<function nanmedian at 0x7fd301934710>
               count           mean            std  nanmedian
id_30
Android         1848   36238.946429   71703.209217     5452.0
Android 4.4.2     67  123159.328358  111365.461434    92166.0
Android 5.0       59  157349.016949  124978.172210   119305.0
Android 5.0.2     86   82850.616279   95641.835060    42033.0
Android 5.1.1    677   92034.564254  113861.221269    58409.0
...              ...            ...            ...        ...
iOS 12.1.0      6349  132065.601040  120425.154305   102605.0
iOS 12.1.1       539  136351.213358  111024.246687   110429.0
iOS 12.1.2      1208  134652.101821  119146.510974   103523.0
iOS 9.3.5        644  161106.270186  111486.496083   144748.5
other             19   98366.421053  133177.205814    61721.0

[87 rows x 4 columns]

mean
       count        mean         std  nanmedian
addr1
100.0     36    6.888889    9.674053        4.0
101.0      1    0.000000         NaN        0.0
102.0     13    1.000000    2.160247        0.0
103.0      2   45.000000   63.639610       45.0
104.0     15  286.600000  346.119880        0.0
...      ...         ...         ...        ...
536.0    283   95.487633  232.626818        0.0
537.0      3    0.000000    0.000000        0.0
538.0      1  727.000000         NaN      727.0
539.0      1    0.000000         NaN        0.0
540.0     27   38.296296   84.886265        0.0

[441 rows x 4 columns]
std
       count        mean         std  nanmedian
addr1
100.0     36    6.888889    9.674053        4.0
101.0      1    0.000000         NaN        0.0
102.0     13    1.000000    2.160247        0.0
103.0      2   45.000000   63.639610       45.0
104.0     15  286.600000  346.119880        0.0
...      ...         ...         ...        ...
536.0    283   95.487633  232.626818        0.0
537.0      3    0.000000    0.000000        0.0
538.0      1  727.000000         NaN      727.0
539.0      1    0.000000         NaN        0.0
540.0     27   38.296296   84.886265        0.0

[441 rows x 4 columns]
<function nanmedian at 0x7fd301934710>
       count        mean         std  nanmedian
addr1
100.0     36    6.888889    9.674053        4.0
101.0      1    0.000000         NaN        0.0
102.0     13    1.000000    2.160247        0.0
103.0      2   45.000000   63.639610       45.0
104.0     15  286.600000  346.119880        0.0
...      ...         ...         ...        ...
536.0    283   95.487633  232.626818        0.0
537.0      3    0.000000    0.000000        0.0
538.0      1  727.000000         NaN      727.0
539.0      1    0.000000         NaN        0.0
540.0     27   38.296296   84.886265        0.0

[441 rows x 4 columns]
mean
       count     mean        std  nanmedian
addr2
10.0       3   0.0000   0.000000        0.0
11.0       1   0.0000        NaN        0.0
12.0       0      NaN        NaN        NaN
13.0       8   0.8750   0.991031        0.5
14.0       1   0.0000        NaN        0.0
...      ...      ...        ...        ...
98.0      16  22.9375  90.685882        0.0
99.0       1   0.0000        NaN        0.0
100.0      2   0.0000   0.000000        0.0
101.0      8   4.0000  10.915258        0.0
102.0     16   0.1875   0.403113        0.0

[93 rows x 4 columns]
std
       count     mean        std  nanmedian
addr2
10.0       3   0.0000   0.000000        0.0
11.0       1   0.0000        NaN        0.0
12.0       0      NaN        NaN        NaN
13.0       8   0.8750   0.991031        0.5
14.0       1   0.0000        NaN        0.0
...      ...      ...        ...        ...
98.0      16  22.9375  90.685882        0.0
99.0       1   0.0000        NaN        0.0
100.0      2   0.0000   0.000000        0.0
101.0      8   4.0000  10.915258        0.0
102.0     16   0.1875   0.403113        0.0

[93 rows x 4 columns]
<function nanmedian at 0x7fd301934710>
       count     mean        std  nanmedian
addr2
10.0       3   0.0000   0.000000        0.0
11.0       1   0.0000        NaN        0.0
12.0       0      NaN        NaN        NaN
13.0       8   0.8750   0.991031        0.5
14.0       1   0.0000        NaN        0.0
...      ...      ...        ...        ...
98.0      16  22.9375  90.685882        0.0
99.0       1   0.0000        NaN        0.0
100.0      2   0.0000   0.000000        0.0
101.0      8   4.0000  10.915258        0.0
102.0     16   0.1875   0.403113        0.0

[93 rows x 4 columns]
mean
                    count        mean         std  nanmedian
TransactionDT_hour
0                   62808  176.113377  233.914019       40.0
1                   54059  173.545256  234.052419       35.0
2                   44216  168.592727  232.527102       29.0
3                   34613  162.452142  230.391036       21.0
4                   24473  154.815715  228.624698       11.0
5                   16054  151.771272  225.291903       12.0
6                    9836  160.546462  229.732576       20.0
7                    6015  169.264672  231.902148       32.0
8                    4435  179.521082  235.520697       48.0
9                    4470  217.515213  252.201838      100.0
10                   6636  247.916968  257.395374      156.0
11                  12240  250.695016  257.781437      157.0
12                  22032  239.279457  253.448189      143.0
13                  36098  225.780763  253.298187      117.0
14                  48709  209.521485  249.123983       85.0
15                  57654  198.353054  244.055981       69.0
16                  65421  190.805215  241.006054       58.0
17                  68589  185.188383  239.407042       49.0
18                  69835  183.675106  237.648122       49.0
19                  70183  180.799923  237.048574       44.0
20                  69668  180.242881  236.355614       45.0
21                  70342  180.021083  236.701395       42.0
22                  69747  179.763316  236.020811       43.0
23                  67916  177.765622  235.086706       42.0
std
                    count        mean         std  nanmedian
TransactionDT_hour
0                   62808  176.113377  233.914019       40.0
1                   54059  173.545256  234.052419       35.0
2                   44216  168.592727  232.527102       29.0
3                   34613  162.452142  230.391036       21.0
4                   24473  154.815715  228.624698       11.0
5                   16054  151.771272  225.291903       12.0
6                    9836  160.546462  229.732576       20.0
7                    6015  169.264672  231.902148       32.0
8                    4435  179.521082  235.520697       48.0
9                    4470  217.515213  252.201838      100.0
10                   6636  247.916968  257.395374      156.0
11                  12240  250.695016  257.781437      157.0
12                  22032  239.279457  253.448189      143.0
13                  36098  225.780763  253.298187      117.0
14                  48709  209.521485  249.123983       85.0
15                  57654  198.353054  244.055981       69.0
16                  65421  190.805215  241.006054       58.0
17                  68589  185.188383  239.407042       49.0
18                  69835  183.675106  237.648122       49.0
19                  70183  180.799923  237.048574       44.0
20                  69668  180.242881  236.355614       45.0
21                  70342  180.021083  236.701395       42.0
22                  69747  179.763316  236.020811       43.0
23                  67916  177.765622  235.086706       42.0
<function nanmedian at 0x7fd301934710>
                    count        mean         std  nanmedian
TransactionDT_hour
0                   62808  176.113377  233.914019       40.0
1                   54059  173.545256  234.052419       35.0
2                   44216  168.592727  232.527102       29.0
3                   34613  162.452142  230.391036       21.0
4                   24473  154.815715  228.624698       11.0
5                   16054  151.771272  225.291903       12.0
6                    9836  160.546462  229.732576       20.0
7                    6015  169.264672  231.902148       32.0
8                    4435  179.521082  235.520697       48.0
9                    4470  217.515213  252.201838      100.0
10                   6636  247.916968  257.395374      156.0
11                  12240  250.695016  257.781437      157.0
12                  22032  239.279457  253.448189      143.0
13                  36098  225.780763  253.298187      117.0
14                  48709  209.521485  249.123983       85.0
15                  57654  198.353054  244.055981       69.0
16                  65421  190.805215  241.006054       58.0
17                  68589  185.188383  239.407042       49.0
18                  69835  183.675106  237.648122       49.0
19                  70183  180.799923  237.048574       44.0
20                  69668  180.242881  236.355614       45.0
21                  70342  180.021083  236.701395       42.0
22                  69747  179.763316  236.020811       43.0
23                  67916  177.765622  235.086706       42.0

mean
                          count        mean         std  nanmedian
TransactionDT_dayOfWeek
0                        144482  197.525180  246.542759       63.0
1                        147984  189.403618  241.633866       55.0
2                        146676  187.718877  240.767488       53.0
3                        145176  180.739619  236.628903       45.0
4                        163617  176.873393  233.324895       42.0
5                        131747  178.719660  235.425221       42.0
6                        116367  185.575292  239.323509       51.0
std
                          count        mean         std  nanmedian
TransactionDT_dayOfWeek
0                        144482  197.525180  246.542759       63.0
1                        147984  189.403618  241.633866       55.0
2                        146676  187.718877  240.767488       53.0
3                        145176  180.739619  236.628903       45.0
4                        163617  176.873393  233.324895       42.0
5                        131747  178.719660  235.425221       42.0
6                        116367  185.575292  239.323509       51.0
<function nanmedian at 0x7fd301934710>
                          count        mean         std  nanmedian
TransactionDT_dayOfWeek
0                        144482  197.525180  246.542759       63.0
1                        147984  189.403618  241.633866       55.0
2                        146676  187.718877  240.767488       53.0
3                        145176  180.739619  236.628903       45.0
4                        163617  176.873393  233.324895       42.0
5                        131747  178.719660  235.425221       42.0
6                        116367  185.575292  239.323509       51.0
mean
                          count        mean         std  nanmedian
TransactionDT_dayOfMonth
1                         36827  205.608955  243.751773       87.0
2                         37694  194.834297  238.724856       68.0
3                         39087  202.478241  241.328726       86.0
4                         33765  192.494595  238.154766       66.0
5                         33363  186.683542  235.190742       60.0
6                         32664  184.068332  234.525344       55.0
7                         30875  184.292955  236.732457       51.0
8                         29853  186.134157  235.464819       58.0
9                         29875  187.850142  236.117900       59.0
10                        30459  188.400473  240.249777       55.0
11                        29937  185.539166  237.522286       54.0
12                        31642  183.449118  236.640843       50.0
13                        30454  185.602450  237.111391       56.5
14                        31622  182.837898  237.825126       47.0
15                        31766  184.056287  238.862794       50.0
16                        32877  181.736320  237.509769       46.0
17                        32777  183.636147  241.041122       46.0
18                        32779  181.899234  239.941687       41.0
19                        33910  182.054881  240.308891       42.0
20                        32952  180.297736  238.761933       41.0
21                        33972  178.691982  239.971877       33.0
22                        33177  175.480483  236.423301       34.0
23                        33222  177.375865  235.986296       37.0
24                        34400  177.137907  242.654263       28.0
25                        31830  173.725636  238.895870       26.0
26                        31797  184.199799  243.852985       40.0
27                        31933  179.968935  240.940058       37.0
28                        31052  179.941453  239.698185       40.0
29                        29186  186.570273  243.805063       45.0
30                        30795  189.853288  244.669265       54.0
31                        19507  187.108987  235.122561       61.0
std
                          count        mean         std  nanmedian
TransactionDT_dayOfMonth
1                         36827  205.608955  243.751773       87.0
2                         37694  194.834297  238.724856       68.0
3                         39087  202.478241  241.328726       86.0
4                         33765  192.494595  238.154766       66.0
5                         33363  186.683542  235.190742       60.0
6                         32664  184.068332  234.525344       55.0
7                         30875  184.292955  236.732457       51.0
8                         29853  186.134157  235.464819       58.0
9                         29875  187.850142  236.117900       59.0
10                        30459  188.400473  240.249777       55.0
11                        29937  185.539166  237.522286       54.0
12                        31642  183.449118  236.640843       50.0
13                        30454  185.602450  237.111391       56.5
14                        31622  182.837898  237.825126       47.0
15                        31766  184.056287  238.862794       50.0
16                        32877  181.736320  237.509769       46.0
17                        32777  183.636147  241.041122       46.0
18                        32779  181.899234  239.941687       41.0
19                        33910  182.054881  240.308891       42.0
20                        32952  180.297736  238.761933       41.0
21                        33972  178.691982  239.971877       33.0
22                        33177  175.480483  236.423301       34.0
23                        33222  177.375865  235.986296       37.0
24                        34400  177.137907  242.654263       28.0
25                        31830  173.725636  238.895870       26.0
26                        31797  184.199799  243.852985       40.0
27                        31933  179.968935  240.940058       37.0
28                        31052  179.941453  239.698185       40.0
29                        29186  186.570273  243.805063       45.0
30                        30795  189.853288  244.669265       54.0
31                        19507  187.108987  235.122561       61.0
<function nanmedian at 0x7fd301934710>
                          count        mean         std  nanmedian
TransactionDT_dayOfMonth
1                         36827  205.608955  243.751773       87.0
2                         37694  194.834297  238.724856       68.0
3                         39087  202.478241  241.328726       86.0
4                         33765  192.494595  238.154766       66.0
5                         33363  186.683542  235.190742       60.0
6                         32664  184.068332  234.525344       55.0
7                         30875  184.292955  236.732457       51.0
8                         29853  186.134157  235.464819       58.0
9                         29875  187.850142  236.117900       59.0
10                        30459  188.400473  240.249777       55.0
11                        29937  185.539166  237.522286       54.0
12                        31642  183.449118  236.640843       50.0
13                        30454  185.602450  237.111391       56.5
14                        31622  182.837898  237.825126       47.0
15                        31766  184.056287  238.862794       50.0
16                        32877  181.736320  237.509769       46.0
17                        32777  183.636147  241.041122       46.0
18                        32779  181.899234  239.941687       41.0
19                        33910  182.054881  240.308891       42.0
20                        32952  180.297736  238.761933       41.0
21                        33972  178.691982  239.971877       33.0
22                        33177  175.480483  236.423301       34.0
23                        33222  177.375865  235.986296       37.0
24                        34400  177.137907  242.654263       28.0
25                        31830  173.725636  238.895870       26.0
26                        31797  184.199799  243.852985       40.0
27                        31933  179.968935  240.940058       37.0
28                        31052  179.941453  239.698185       40.0
29                        29186  186.570273  243.805063       45.0
30                        30795  189.853288  244.669265       54.0
31                        19507  187.108987  235.122561       61.0

mean
                            count        mean         std  nanmedian
TransactionDT_weekOfMonth
1                          244275  193.473208  238.676308       67.0
2                          213842  185.652940  237.291865       54.0
3                          231033  181.741872  239.498809       43.0
4                          227411  178.221014  239.801971       34.0
5                           79488  187.974373  242.042953       53.0
std
                            count        mean         std  nanmedian
TransactionDT_weekOfMonth
1                          244275  193.473208  238.676308       67.0
2                          213842  185.652940  237.291865       54.0
3                          231033  181.741872  239.498809       43.0
4                          227411  178.221014  239.801971       34.0
5                           79488  187.974373  242.042953       53.0
<function nanmedian at 0x7fd301934710>
                            count        mean         std  nanmedian
TransactionDT_weekOfMonth
1                          244275  193.473208  238.676308       67.0
2                          213842  185.652940  237.291865       54.0
3                          231033  181.741872  239.498809       43.0
4                          227411  178.221014  239.801971       34.0
5                           79488  187.974373  242.042953       53.0
mean
             count       mean         std  nanmedian
DeviceType
desktop     103892  79.636295  187.566368        0.0
mobile       88601  47.325448  137.774136        0.0
std
             count       mean         std  nanmedian
DeviceType
desktop     103892  79.636295  187.566368        0.0
mobile       88601  47.325448  137.774136        0.0
<function nanmedian at 0x7fd301934710>
             count       mean         std  nanmedian
DeviceType
desktop     103892  79.636295  187.566368        0.0
mobile       88601  47.325448  137.774136        0.0
mean
                count   mean  std  nanmedian
DeviceInfo
0PAJ5               0    NaN  NaN        NaN
0PJA2               0    NaN  NaN        NaN
0PM92               2    0.0  0.0        0.0
1016S               1  392.0  NaN      392.0
2014819             1    0.0  NaN        0.0
...               ...    ...  ...        ...
verykools5036       1    0.0  NaN        0.0
verykools5702       1    0.0  NaN        0.0
vivo                6    0.0  0.0        0.0
weimei_we           1    0.0  NaN        0.0
xs-Z47b7VqTMxs      0    NaN  NaN        NaN

[2799 rows x 4 columns]
std
                count   mean  std  nanmedian
DeviceInfo
0PAJ5               0    NaN  NaN        NaN
0PJA2               0    NaN  NaN        NaN
0PM92               2    0.0  0.0        0.0
1016S               1  392.0  NaN      392.0
2014819             1    0.0  NaN        0.0
...               ...    ...  ...        ...
verykools5036       1    0.0  NaN        0.0
verykools5702       1    0.0  NaN        0.0
vivo                6    0.0  0.0        0.0
weimei_we           1    0.0  NaN        0.0
xs-Z47b7VqTMxs      0    NaN  NaN        NaN

[2799 rows x 4 columns]
<function nanmedian at 0x7fd301934710>
                count   mean  std  nanmedian
DeviceInfo
0PAJ5               0    NaN  NaN        NaN
0PJA2               0    NaN  NaN        NaN
0PM92               2    0.0  0.0        0.0
1016S               1  392.0  NaN      392.0
2014819             1    0.0  NaN        0.0
...               ...    ...  ...        ...
verykools5036       1    0.0  NaN        0.0
verykools5702       1    0.0  NaN        0.0
vivo                6    0.0  0.0        0.0
weimei_we           1    0.0  NaN        0.0
xs-Z47b7VqTMxs      0    NaN  NaN        NaN

[2799 rows x 4 columns]
mean
          count        mean         std  nanmedian
OS_NAME
Android    5454   95.807847  214.886139        0.0
Linux      1508  245.994695  254.444921      215.5
Mac         131  120.816794  254.732886        0.0
Mac OS X  11512   90.638985  212.451609        0.0
Windows   32792  122.314223  236.043586        0.0
func         10    0.200000    0.632456        0.0
iOS       17322   66.595024  184.669348        0.0
other         4  182.750000  365.500000        0.0
std
          count        mean         std  nanmedian
OS_NAME
Android    5454   95.807847  214.886139        0.0
Linux      1508  245.994695  254.444921      215.5
Mac         131  120.816794  254.732886        0.0
Mac OS X  11512   90.638985  212.451609        0.0
Windows   32792  122.314223  236.043586        0.0
func         10    0.200000    0.632456        0.0
iOS       17322   66.595024  184.669348        0.0
other         4  182.750000  365.500000        0.0
<function nanmedian at 0x7fd301934710>
          count        mean         std  nanmedian
OS_NAME
Android    5454   95.807847  214.886139        0.0
Linux      1508  245.994695  254.444921      215.5
Mac         131  120.816794  254.732886        0.0
Mac OS X  11512   90.638985  212.451609        0.0
Windows   32792  122.314223  236.043586        0.0
func         10    0.200000    0.632456        0.0
iOS       17322   66.595024  184.669348        0.0
other         4  182.750000  365.500000        0.0
mean
               count        mean         std  nanmedian
id_30
Android          970  269.016495  308.799964      102.0
Android 4.4.2      4    1.250000    2.500000        0.0
Android 5.0       15   97.800000  205.383683        0.0
Android 5.0.2     35   93.685714  191.221579        1.0
Android 5.1.1    315   81.580952  166.268552       13.0
...              ...         ...         ...        ...
iOS 12.1.0      6348   54.335381  173.334567        0.0
iOS 12.1.1       539   64.092764  195.712963        0.0
iOS 12.1.2      1208   66.078642  191.106596        0.0
iOS 9.3.5        251  103.992032  212.284582        0.0
other              4  182.750000  365.500000        0.0

[87 rows x 4 columns]
std
               count        mean         std  nanmedian
id_30
Android          970  269.016495  308.799964      102.0
Android 4.4.2      4    1.250000    2.500000        0.0
Android 5.0       15   97.800000  205.383683        0.0
Android 5.0.2     35   93.685714  191.221579        1.0
Android 5.1.1    315   81.580952  166.268552       13.0
...              ...         ...         ...        ...
iOS 12.1.0      6348   54.335381  173.334567        0.0
iOS 12.1.1       539   64.092764  195.712963        0.0
iOS 12.1.2      1208   66.078642  191.106596        0.0
iOS 9.3.5        251  103.992032  212.284582        0.0
other              4  182.750000  365.500000        0.0

[87 rows x 4 columns]
<function nanmedian at 0x7fd301934710>
               count        mean         std  nanmedian
id_30
Android          970  269.016495  308.799964      102.0
Android 4.4.2      4    1.250000    2.500000        0.0
Android 5.0       15   97.800000  205.383683        0.0
Android 5.0.2     35   93.685714  191.221579        1.0
Android 5.1.1    315   81.580952  166.268552       13.0
...              ...         ...         ...        ...
iOS 12.1.0      6348   54.335381  173.334567        0.0
iOS 12.1.1       539   64.092764  195.712963        0.0
iOS 12.1.2      1208   66.078642  191.106596        0.0
iOS 9.3.5        251  103.992032  212.284582        0.0
other              4  182.750000  365.500000        0.0

[87 rows x 4 columns]
mean
       count       mean         std  nanmedian
addr1
100.0     36   3.944444    3.388590        3.0
101.0      1   1.000000         NaN        1.0
102.0     13   2.153846    1.772294        3.0
103.0      2   1.500000    0.707107        1.5
104.0     15   9.800000   16.174053        1.0
...      ...        ...         ...        ...
536.0    593  20.799325  111.732435        1.0
537.0      3   2.000000    1.000000        2.0
538.0      1   2.000000         NaN        2.0
539.0      1   1.000000         NaN        1.0
540.0     27  10.444444   47.491970        1.0

[441 rows x 4 columns]
std
       count       mean         std  nanmedian
addr1
100.0     36   3.944444    3.388590        3.0
101.0      1   1.000000         NaN        1.0
102.0     13   2.153846    1.772294        3.0
103.0      2   1.500000    0.707107        1.5
104.0     15   9.800000   16.174053        1.0
...      ...        ...         ...        ...
536.0    593  20.799325  111.732435        1.0
537.0      3   2.000000    1.000000        2.0
538.0      1   2.000000         NaN        2.0
539.0      1   1.000000         NaN        1.0
540.0     27  10.444444   47.491970        1.0

[441 rows x 4 columns]
<function nanmedian at 0x7fd301934710>
       count       mean         std  nanmedian
addr1
100.0     36   3.944444    3.388590        3.0
101.0      1   1.000000         NaN        1.0
102.0     13   2.153846    1.772294        3.0
103.0      2   1.500000    0.707107        1.5
104.0     15   9.800000   16.174053        1.0
...      ...        ...         ...        ...
536.0    593  20.799325  111.732435        1.0
537.0      3   2.000000    1.000000        2.0
538.0      1   2.000000         NaN        2.0
539.0      1   1.000000         NaN        1.0
540.0     27  10.444444   47.491970        1.0

[441 rows x 4 columns]

mean
       count      mean       std  nanmedian
addr2
10.0      11  0.000000  0.000000        0.0
11.0       1  1.000000       NaN        1.0
12.0       4  0.000000  0.000000        0.0
13.0       8  1.625000  0.744024        1.5
14.0       1  1.000000       NaN        1.0
...      ...       ...       ...        ...
98.0      26  0.769231  0.710363        1.0
99.0       1  1.000000       NaN        1.0
100.0      7  0.571429  0.786796        0.0
101.0      9  1.111111  0.927961        1.0
102.0     21  1.142857  0.853564        1.0

[93 rows x 4 columns]
std
       count      mean       std  nanmedian
addr2
10.0      11  0.000000  0.000000        0.0
11.0       1  1.000000       NaN        1.0
12.0       4  0.000000  0.000000        0.0
13.0       8  1.625000  0.744024        1.5
14.0       1  1.000000       NaN        1.0
...      ...       ...       ...        ...
98.0      26  0.769231  0.710363        1.0
99.0       1  1.000000       NaN        1.0
100.0      7  0.571429  0.786796        0.0
101.0      9  1.111111  0.927961        1.0
102.0     21  1.142857  0.853564        1.0

[93 rows x 4 columns]
<function nanmedian at 0x7fd301934710>
       count      mean       std  nanmedian
addr2
10.0      11  0.000000  0.000000        0.0
11.0       1  1.000000       NaN        1.0
12.0       4  0.000000  0.000000        0.0
13.0       8  1.625000  0.744024        1.5
14.0       1  1.000000       NaN        1.0
...      ...       ...       ...        ...
98.0      26  0.769231  0.710363        1.0
99.0       1  1.000000       NaN        1.0
100.0      7  0.571429  0.786796        0.0
101.0      9  1.111111  0.927961        1.0
102.0     21  1.142857  0.853564        1.0

[93 rows x 4 columns]
mean
                    count       mean         std  nanmedian
TransactionDT_hour
0                   68138  30.311383  112.968162        3.0
1                   59140  31.214948  115.866462        2.0
2                   48919  32.277213  128.956296        2.0
3                   38082  31.573972  123.274273        2.0
4                   27136  30.948777  136.091956        2.0
5                   17721  32.121325  139.501893        2.0
6                   10851  33.763708  138.849832        2.0
7                    6669  32.700705  125.947517        2.0
8                    4845  35.510630  123.300870        3.0
9                    4833  41.767846  134.045960        5.0
10                   7161  42.596704  119.139107        7.0
11                  13356  45.105271  133.814530        7.0
12                  24208  40.394002  118.461718        6.0
13                  39468  35.655164  112.476097        4.0
14                  53920  31.104024  108.726183        3.0
15                  64056  30.309011  112.470284        3.0
16                  72318  28.235640  106.388885        3.0
17                  75501  27.541052  108.142186        2.0
18                  76553  27.560474  111.458020        2.0
19                  77229  26.891815  108.251303        2.0
20                  76747  27.989185  113.591968        2.0
21                  76731  28.587116  118.889030        2.0
22                  75540  29.765263  120.513916        2.0
23                  73361  31.471463  131.749739        3.0
std
                    count       mean         std  nanmedian
TransactionDT_hour
0                   68138  30.311383  112.968162        3.0
1                   59140  31.214948  115.866462        2.0
2                   48919  32.277213  128.956296        2.0
3                   38082  31.573972  123.274273        2.0
4                   27136  30.948777  136.091956        2.0
5                   17721  32.121325  139.501893        2.0
6                   10851  33.763708  138.849832        2.0
7                    6669  32.700705  125.947517        2.0
8                    4845  35.510630  123.300870        3.0
9                    4833  41.767846  134.045960        5.0
10                   7161  42.596704  119.139107        7.0
11                  13356  45.105271  133.814530        7.0
12                  24208  40.394002  118.461718        6.0
13                  39468  35.655164  112.476097        4.0
14                  53920  31.104024  108.726183        3.0
15                  64056  30.309011  112.470284        3.0
16                  72318  28.235640  106.388885        3.0
17                  75501  27.541052  108.142186        2.0
18                  76553  27.560474  111.458020        2.0
19                  77229  26.891815  108.251303        2.0
20                  76747  27.989185  113.591968        2.0
21                  76731  28.587116  118.889030        2.0
22                  75540  29.765263  120.513916        2.0
23                  73361  31.471463  131.749739        3.0
<function nanmedian at 0x7fd301934710>
                    count       mean         std  nanmedian
TransactionDT_hour
0                   68138  30.311383  112.968162        3.0
1                   59140  31.214948  115.866462        2.0
2                   48919  32.277213  128.956296        2.0
3                   38082  31.573972  123.274273        2.0
4                   27136  30.948777  136.091956        2.0
5                   17721  32.121325  139.501893        2.0
6                   10851  33.763708  138.849832        2.0
7                    6669  32.700705  125.947517        2.0
8                    4845  35.510630  123.300870        3.0
9                    4833  41.767846  134.045960        5.0
10                   7161  42.596704  119.139107        7.0
11                  13356  45.105271  133.814530        7.0
12                  24208  40.394002  118.461718        6.0
13                  39468  35.655164  112.476097        4.0
14                  53920  31.104024  108.726183        3.0
15                  64056  30.309011  112.470284        3.0
16                  72318  28.235640  106.388885        3.0
17                  75501  27.541052  108.142186        2.0
18                  76553  27.560474  111.458020        2.0
19                  77229  26.891815  108.251303        2.0
20                  76747  27.989185  113.591968        2.0
21                  76731  28.587116  118.889030        2.0
22                  75540  29.765263  120.513916        2.0
23                  73361  31.471463  131.749739        3.0
mean
                          count       mean         std  nanmedian
TransactionDT_dayOfWeek
0                        162332  31.629574  109.759515        3.0
1                        160533  30.971626  111.470755        3.0
2                        158672  31.382285  121.267623        3.0
3                        157223  34.745533  162.846289        3.0
4                        177932  26.311996   96.935531        2.0
5                        144535  27.623752  100.275301        2.0
6                        131256  30.132680  104.557174        3.0
std
                          count       mean         std  nanmedian
TransactionDT_dayOfWeek
0                        162332  31.629574  109.759515        3.0
1                        160533  30.971626  111.470755        3.0
2                        158672  31.382285  121.267623        3.0
3                        157223  34.745533  162.846289        3.0
4                        177932  26.311996   96.935531        2.0
5                        144535  27.623752  100.275301        2.0
6                        131256  30.132680  104.557174        3.0
<function nanmedian at 0x7fd301934710>
                          count       mean         std  nanmedian
TransactionDT_dayOfWeek
0                        162332  31.629574  109.759515        3.0
1                        160533  30.971626  111.470755        3.0
2                        158672  31.382285  121.267623        3.0
3                        157223  34.745533  162.846289        3.0
4                        177932  26.311996   96.935531        2.0
5                        144535  27.623752  100.275301        2.0
6                        131256  30.132680  104.557174        3.0

mean
                          count       mean         std  nanmedian
TransactionDT_dayOfMonth
1                         40309  30.891067  102.677442        4.0
2                         41482  31.043923  105.879018        3.0
3                         42315  32.279334  106.740637        4.0
4                         36785  30.121354  102.479329        3.0
5                         36239  30.615497  104.400912        3.0
6                         34901  29.084840  101.571394        3.0
7                         34025  30.405672  107.598524        3.0
8                         33712  28.870966  100.876444        3.0
9                         34167  30.676032  104.212712        3.0
10                        33906  30.996608  109.509896        3.0
11                        33075  33.173031  124.760036        3.0
12                        35238  32.927635  131.249348        3.0
13                        35054  41.020397  177.012605        3.0
14                        35112  58.595210  289.190084        3.0
15                        34684  29.493167  105.152651        3.0
16                        35935  27.731877   98.152113        2.0
17                        36102  28.740153  101.472201        2.0
18                        36241  28.340857  102.007921        2.0
19                        37388  28.273483   99.182730        2.0
20                        37699  27.697127   98.578694        2.0
21                        37714  26.979557   99.527329        2.0
22                        35528  27.242063   99.499958        2.0
23                        37056  27.475955  100.865766        2.0
24                        38312  23.519550   90.805727        2.0
25                        36618  23.189715   90.980792        2.0
26                        34184  28.106219  100.508087        2.0
27                        33894  27.856877   99.137769        2.0
28                        32878  27.850113   98.713977        3.0
29                        30713  28.829225  101.357897        3.0
30                        31742  30.006679  103.737980        3.0
31                        19475  30.260077  103.160737        3.0
std
                          count       mean         std  nanmedian
TransactionDT_dayOfMonth
1                         40309  30.891067  102.677442        4.0
2                         41482  31.043923  105.879018        3.0
3                         42315  32.279334  106.740637        4.0
4                         36785  30.121354  102.479329        3.0
5                         36239  30.615497  104.400912        3.0
6                         34901  29.084840  101.571394        3.0
7                         34025  30.405672  107.598524        3.0
8                         33712  28.870966  100.876444        3.0
9                         34167  30.676032  104.212712        3.0
10                        33906  30.996608  109.509896        3.0
11                        33075  33.173031  124.760036        3.0
12                        35238  32.927635  131.249348        3.0
13                        35054  41.020397  177.012605        3.0
14                        35112  58.595210  289.190084        3.0
15                        34684  29.493167  105.152651        3.0
16                        35935  27.731877   98.152113        2.0
17                        36102  28.740153  101.472201        2.0
18                        36241  28.340857  102.007921        2.0
19                        37388  28.273483   99.182730        2.0
20                        37699  27.697127   98.578694        2.0
21                        37714  26.979557   99.527329        2.0
22                        35528  27.242063   99.499958        2.0
23                        37056  27.475955  100.865766        2.0
24                        38312  23.519550   90.805727        2.0
25                        36618  23.189715   90.980792        2.0
26                        34184  28.106219  100.508087        2.0
27                        33894  27.856877   99.137769        2.0
28                        32878  27.850113   98.713977        3.0
29                        30713  28.829225  101.357897        3.0
30                        31742  30.006679  103.737980        3.0
31                        19475  30.260077  103.160737        3.0
<function nanmedian at 0x7fd301934710>
                          count       mean         std  nanmedian
TransactionDT_dayOfMonth
1                         40309  30.891067  102.677442        4.0
2                         41482  31.043923  105.879018        3.0
3                         42315  32.279334  106.740637        4.0
4                         36785  30.121354  102.479329        3.0
5                         36239  30.615497  104.400912        3.0
6                         34901  29.084840  101.571394        3.0
7                         34025  30.405672  107.598524        3.0
8                         33712  28.870966  100.876444        3.0
9                         34167  30.676032  104.212712        3.0
10                        33906  30.996608  109.509896        3.0
11                        33075  33.173031  124.760036        3.0
12                        35238  32.927635  131.249348        3.0
13                        35054  41.020397  177.012605        3.0
14                        35112  58.595210  289.190084        3.0
15                        34684  29.493167  105.152651        3.0
16                        35935  27.731877   98.152113        2.0
17                        36102  28.740153  101.472201        2.0
18                        36241  28.340857  102.007921        2.0
19                        37388  28.273483   99.182730        2.0
20                        37699  27.697127   98.578694        2.0
21                        37714  26.979557   99.527329        2.0
22                        35528  27.242063   99.499958        2.0
23                        37056  27.475955  100.865766        2.0
24                        38312  23.519550   90.805727        2.0
25                        36618  23.189715   90.980792        2.0
26                        34184  28.106219  100.508087        2.0
27                        33894  27.856877   99.137769        2.0
28                        32878  27.850113   98.713977        3.0
29                        30713  28.829225  101.357897        3.0
30                        31742  30.006679  103.737980        3.0
31                        19475  30.260077  103.160737        3.0
mean
                            count       mean         std  nanmedian
TransactionDT_weekOfMonth
1                          266056  30.692726  104.538813        3.0
2                          240264  36.731275  161.929963        3.0
3                          255763  28.162455  100.559742        2.0
4                          248470  26.388968   97.200356        2.0
5                           81930  29.625522  102.714755        3.0
std
                            count       mean         std  nanmedian
TransactionDT_weekOfMonth
1                          266056  30.692726  104.538813        3.0
2                          240264  36.731275  161.929963        3.0
3                          255763  28.162455  100.559742        2.0
4                          248470  26.388968   97.200356        2.0
5                           81930  29.625522  102.714755        3.0
<function nanmedian at 0x7fd301934710>
                            count       mean         std  nanmedian
TransactionDT_weekOfMonth
1                          266056  30.692726  104.538813        3.0
2                          240264  36.731275  161.929963        3.0
3                          255763  28.162455  100.559742        2.0
4                          248470  26.388968   97.200356        2.0
5                           81930  29.625522  102.714755        3.0
mean
             count       mean         std  nanmedian
DeviceType
desktop     158860  13.424260  117.719699        1.0
mobile      117425  13.893532  129.092014        1.0
std
             count       mean         std  nanmedian
DeviceType
desktop     158860  13.424260  117.719699        1.0
mobile      117425  13.893532  129.092014        1.0
<function nanmedian at 0x7fd301934710>
             count       mean         std  nanmedian
DeviceType
desktop     158860  13.424260  117.719699        1.0
mobile      117425  13.893532  129.092014        1.0

mean
                count      mean       std  nanmedian
DeviceInfo
0PAJ5               1  1.000000       NaN        1.0
0PJA2               1  1.000000       NaN        1.0
0PM92               4  0.500000  0.577350        0.5
1016S               1  9.000000       NaN        9.0
2014819             1  1.000000       NaN        1.0
...               ...       ...       ...        ...
verykools5036       1  1.000000       NaN        1.0
verykools5702       1  1.000000       NaN        1.0
vivo                6  1.333333  0.516398        1.0
weimei_we           1  1.000000       NaN        1.0
xs-Z47b7VqTMxs      1  1.000000       NaN        1.0

[2799 rows x 4 columns]
std
                count      mean       std  nanmedian
DeviceInfo
0PAJ5               1  1.000000       NaN        1.0
0PJA2               1  1.000000       NaN        1.0
0PM92               4  0.500000  0.577350        0.5
1016S               1  9.000000       NaN        9.0
2014819             1  1.000000       NaN        1.0
...               ...       ...       ...        ...
verykools5036       1  1.000000       NaN        1.0
verykools5702       1  1.000000       NaN        1.0
vivo                6  1.333333  0.516398        1.0
weimei_we           1  1.000000       NaN        1.0
xs-Z47b7VqTMxs      1  1.000000       NaN        1.0

[2799 rows x 4 columns]
<function nanmedian at 0x7fd301934710>
                count      mean       std  nanmedian
DeviceInfo
0PAJ5               1  1.000000       NaN        1.0
0PJA2               1  1.000000       NaN        1.0
0PM92               4  0.500000  0.577350        0.5
1016S               1  9.000000       NaN        9.0
2014819             1  1.000000       NaN        1.0
...               ...       ...       ...        ...
verykools5036       1  1.000000       NaN        1.0
verykools5702       1  1.000000       NaN        1.0
vivo                6  1.333333  0.516398        1.0
weimei_we           1  1.000000       NaN        1.0
xs-Z47b7VqTMxs      1  1.000000       NaN        1.0

[2799 rows x 4 columns]
mean
          count       mean        std  nanmedian
OS_NAME
Android   11707  13.709832  46.146989        1.0
Linux      2483  38.693113  70.620595        2.0
Mac         420   1.202381   1.481628        1.0
Mac OS X  25066   3.686587  27.741914        1.0
Windows   69431   8.635753  50.284185        1.0
func         21   1.000000   0.447214        1.0
iOS       38228   3.369964  32.816351        1.0
other        19   0.578947   0.768533        0.0
std
          count       mean        std  nanmedian
OS_NAME
Android   11707  13.709832  46.146989        1.0
Linux      2483  38.693113  70.620595        2.0
Mac         420   1.202381   1.481628        1.0
Mac OS X  25066   3.686587  27.741914        1.0
Windows   69431   8.635753  50.284185        1.0
func         21   1.000000   0.447214        1.0
iOS       38228   3.369964  32.816351        1.0
other        19   0.578947   0.768533        0.0
<function nanmedian at 0x7fd301934710>
          count       mean        std  nanmedian
OS_NAME
Android   11707  13.709832  46.146989        1.0
Linux      2483  38.693113  70.620595        2.0
Mac         420   1.202381   1.481628        1.0
Mac OS X  25066   3.686587  27.741914        1.0
Windows   69431   8.635753  50.284185        1.0
func         21   1.000000   0.447214        1.0
iOS       38228   3.369964  32.816351        1.0
other        19   0.578947   0.768533        0.0
mean
               count       mean        std  nanmedian
id_30
Android         1844  69.347614  84.709052       25.0
Android 4.4.2     66   1.833333   3.015771        1.0
Android 5.0       59   1.067797   1.400301        1.0
Android 5.0.2     86   1.906977   3.074096        1.0
Android 5.1.1    676   7.075444  11.260758        1.0
...              ...        ...        ...        ...
iOS 12.1.0      6211   1.800676  14.680830        1.0
iOS 12.1.1       520   2.407692  24.161928        1.0
iOS 12.1.2      1169   1.976903  22.280789        1.0
iOS 9.3.5        642   2.260125  17.821596        1.0
other             19   0.578947   0.768533        0.0

[87 rows x 4 columns]
std
               count       mean        std  nanmedian
id_30
Android         1844  69.347614  84.709052       25.0
Android 4.4.2     66   1.833333   3.015771        1.0
Android 5.0       59   1.067797   1.400301        1.0
Android 5.0.2     86   1.906977   3.074096        1.0
Android 5.1.1    676   7.075444  11.260758        1.0
...              ...        ...        ...        ...
iOS 12.1.0      6211   1.800676  14.680830        1.0
iOS 12.1.1       520   2.407692  24.161928        1.0
iOS 12.1.2      1169   1.976903  22.280789        1.0
iOS 9.3.5        642   2.260125  17.821596        1.0
other             19   0.578947   0.768533        0.0

[87 rows x 4 columns]
<function nanmedian at 0x7fd301934710>
               count       mean        std  nanmedian
id_30
Android         1844  69.347614  84.709052       25.0
Android 4.4.2     66   1.833333   3.015771        1.0
Android 5.0       59   1.067797   1.400301        1.0
Android 5.0.2     86   1.906977   3.074096        1.0
Android 5.1.1    676   7.075444  11.260758        1.0
...              ...        ...        ...        ...
iOS 12.1.0      6211   1.800676  14.680830        1.0
iOS 12.1.1       520   2.407692  24.161928        1.0
iOS 12.1.2      1169   1.976903  22.280789        1.0
iOS 9.3.5        642   2.260125  17.821596        1.0
other             19   0.578947   0.768533        0.0

[87 rows x 4 columns]
CPU times: user 12min 45s, sys: 6min 45s, total: 19min 30s
Wall time: 4min 48s

In [7]:
train_test_transformed.head()

,C1,C10,C11,C12,C13,C14,C2,C3,C4,C5,...,smoothed_encoded_DeviceType_on_C13_nanmedian,smoothed_encoded_DeviceInfo_on_C13_mean,smoothed_encoded_DeviceInfo_on_C13_std,smoothed_encoded_DeviceInfo_on_C13_nanmedian,smoothed_encoded_OS_NAME_on_C13_mean,smoothed_encoded_OS_NAME_on_C13_std,smoothed_encoded_OS_NAME_on_C13_nanmedian,smoothed_encoded_id_30_on_C13_mean,smoothed_encoded_id_30_on_C13_std,smoothed_encoded_id_30_on_C13_nanmedian
TransactionID,,,,,,,,,,,,,,,,,,,,,
2987000,1.0,0.0,2.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2987001,1.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2987002,1.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2987003,2.0,0.0,1.0,0.0,25.0,1.0,5.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2987004,1.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,...,1.0,16.458,61.951,2.053,13.724,46.208,1.002,3.234,26.554,1.006

In [24]:
def train_val_lgb():
    
    COLS_TO_USE = [
        i for i in train_test_transformed.columns
        if i not in COLUMNS_TO_REMOVE
    ]
    
    pars = {
        'num_leaves': 2 ** 8 - 1,
        'learning_rate': 0.05,
        'feature_fraction': 0.6 ,
        'bagging_fraction': 0.6,
        'bagging_freq': 51,
        'cat_smooth': 209,
        'lambda_l1': 1.0,
        'lambda_l2': 3.0,
        'max_bin': 270,
        'scale_pos_weight': 7.0,
        'boosting_type': 'gbdt',
        'objective': 'xentropy',
        'metric': ['auc'],
        'num_threads': -1
    }
    
    bound = 16
    
    
    COLS_TO_USE = [
        i for i in COLS_TO_USE 
        if not ('smoothed_encoded' in i and 'isFraud' in i) and not (i.startswith('card') and len(i) < 6)
    ]
    
    cat_c = [
        i for i in CATEGORICAL_FEATURES 
        if not ('smoothed_encoded' in i and 'isFraud' in i) and not (i.startswith('card') and len(i) < 6)
    ]
    
    COLS_TO_USE += ['smoothed_encoded_TransactionDT_hour_on_isFraud_mean',
'smoothed_encoded_TransactionDT_hour_on_isFraud_std',
'smoothed_encoded_TransactionDT_dayOfWeek_on_isFraud_mean',
'smoothed_encoded_TransactionDT_dayOfWeek_on_isFraud_std',
'smoothed_encoded_TransactionDT_dayOfMonth_on_isFraud_mean',
'smoothed_encoded_TransactionDT_dayOfMonth_on_isFraud_std',
'smoothed_encoded_TransactionDT_weekOfMonth_on_isFraud_mean',
'smoothed_encoded_TransactionDT_weekOfMonth_on_isFraud_std',
                    'smoothed_encoded_OS_NAME_on_isFraud_mean',
'smoothed_encoded_OS_NAME_on_isFraud_std',
            ]
    
    print(len(COLS_TO_USE))
    
    cur_train = train_test_transformed[
        train_test_transformed['TransactionDT_split'] <= bound
    ]
    
    cur_test = train_test_transformed[
        (train_test_transformed['TransactionDT_split'] > bound) & \
        (train_test_transformed['TransactionDT_split'] < 19)
    ]
    
    # create dataset for lightgbm
    lgb_train = lgb.Dataset(cur_train[COLS_TO_USE], cur_train['isFraud'])
    lgb_eval = lgb.Dataset(cur_test[COLS_TO_USE], cur_test['isFraud'], reference=lgb_train)
    
    gbm = lgb.train(
        pars,
        lgb_train,
        num_boost_round=20000,
        valid_sets=(lgb_train, lgb_eval),
        valid_names=('train', 'valid'),
        early_stopping_rounds=100,
        feature_name=COLS_TO_USE,
        categorical_feature=cat_c,
        verbose_eval=100
    )
    
    return gbm

In [25]:
%%time
lgb_fitted = train_val_lgb()

603
Training until validation scores don't improve for 100 rounds.
[100]	train's auc: 0.973757	valid's auc: 0.920576
[200]	train's auc: 0.991458	valid's auc: 0.927263
[300]	train's auc: 0.99672	valid's auc: 0.928692
[400]	train's auc: 0.998554	valid's auc: 0.929022
[500]	train's auc: 0.999226	valid's auc: 0.929345
Early stopping, best iteration is:
[423]	train's auc: 0.998834	valid's auc: 0.929593
CPU times: user 41min 23s, sys: 16.2 s, total: 41min 39s
Wall time: 3min 3s

In [17]:
for i in train_test_transformed.columns:
    
    if 'smoothed_encoded' in i and 'isFraud' in i and 'TransactionDT' in i:
        print(f"'{i}',")

'smoothed_encoded_TransactionDT_hour_on_isFraud_mean',
'smoothed_encoded_TransactionDT_hour_on_isFraud_std',
'smoothed_encoded_TransactionDT_dayOfWeek_on_isFraud_mean',
'smoothed_encoded_TransactionDT_dayOfWeek_on_isFraud_std',
'smoothed_encoded_TransactionDT_dayOfMonth_on_isFraud_mean',
'smoothed_encoded_TransactionDT_dayOfMonth_on_isFraud_std',
'smoothed_encoded_TransactionDT_weekOfMonth_on_isFraud_mean',
'smoothed_encoded_TransactionDT_weekOfMonth_on_isFraud_std',

In [38]:
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler

In [49]:
pca_reducer = PCA(n_components=0.85)

In [50]:
%%time
V_fields = pca_reducer.fit_transform(
    StandardScaler()\
    .fit_transform(
        train_test_transformed[
            [i for i in train_test_transformed.columns if i.startswith('V')]
        ].fillna(0.0)
    )
)

CPU times: user 3min 50s, sys: 17.5 s, total: 4min 8s
Wall time: 36 s

In [51]:
V_fields

array([[-4.0115276 ,  0.88023451,  1.16512647, ..., -0.30192957,
        -0.16257286,  0.45072025],
       [-1.70104661, -0.09857212,  0.25199224, ..., -0.50058444,
        -0.05036983,  0.05172102],
       [-4.29355311,  0.7516503 , -0.88958054, ...,  0.12629188,
         0.04019963,  0.19611628],
       ...,
       [-4.29355311,  0.7516503 , -0.88958054, ...,  0.12629188,
         0.04019963,  0.19611628],
       [-4.29355311,  0.7516503 , -0.88958054, ...,  0.12629188,
         0.04019963,  0.19611628],
       [12.5924471 , -5.40463963, -5.23571458, ..., -0.53702687,
        -0.30155275,  0.31520839]])

In [52]:
V_fields.shape

(1097231, 37)